@charset "UTF-8";

/********************
ボタン
********************/
.btn a {
	color: #fff;
	background-color: #202020;
	display: inline-block;
	height: fit-content;
	font-family: "Dela Gothic One", sans-serif;
	font-size: 1.6vw;
	margin-top: 8px;
	margin-right: 8px;
	padding: 1vw 4.5vw;
	border-radius: 100vw;
	display: flex;
	align-items: center;
	position: relative;
	transition: all .3s;
}

.btn a:hover {
	background-color: var(--orange);
}

.btn a::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	border: 4px #fff solid;
	border-radius: 100vw;
}

.btn a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	content: "";
	display: block;
	width: 104%;
	height: 110%;
	border-radius: 100vw;
	background-color: #202020;
	z-index: -1;
}

/* .btn a span {
	overflow: hidden;
	position: relative;
}

.btn a span::before {
	content: "ログイン";
	position: absolute;
	bottom: -100%;
} */

.btn button {
	width: 5.5vw;
	height: 4.4vw;
	background-color: #202020;
	margin-top: 8px;
	border-radius: 100vw;
	position: relative;
	transition: all .3s;
}

.btn button:hover {
	background-color: var(--orange);
}

.btn button::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 5.2vw;
	height: 90%;
	border: 5px #fff solid;
	border-radius: 100vw;
}

.btn button .line::before,
.btn button .line::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 2.5vw;
	height: .3vw;
	background-color: #fff;
}

.btn button .line::before {
	top: 35%;
	transition: all .3s;
}

.btn button:hover .line::before {
	top: 40%;
}

.btn button .line::after {
	bottom: 35%;
	transition: all .3s;
}

.btn button:hover .line::after {
	bottom: 40%;
}

#news .news-content .btn {
	width: 25%;
	position: absolute;
	bottom: -9%;
	right: 0;
}

#news .news-content .btn a,
#concept .btn a,
#about .btn a,
#contents .btn a,
#help .btn a {
	font-size: 1.25vw;
	padding: 18px 30px;
	display: flex;
	justify-content: space-around;
}

#news .news-content .btn a img,
#concept .btn a img,
#about .btn a img,
#contents .btn a img,
#help .btn a img {
	width: 1.2vw;
}

#concept .btn,
#about .btn,
#contents .btn,
#help .btn {
	width: 20vw;
	margin: auto;
	position: relative;
	z-index: 2;
}

#about .btn {
	margin-right: 5%;
}

#contents .btn {
	position: absolute;
	bottom: -6%;
	left: 50%;
	transform: translateX(-50%);
}

#contents .chatroom .chatroom__list .btn {
	bottom: -10vw;
	left: 50%;
}
