@charset "UTF-8";

/********************
ボタン
********************/
.btn a {
	color: #fff;
	background-color: #202020;
	display: inline-block;
	height: fit-content;
	font-family: "Dela Gothic One", sans-serif;
	font-size: 1.6vw;
	margin-top: 8px;
	margin-right: 8px;
	padding: 1vw 4.5vw;
	border-radius: 100vw;
	display: flex;
	align-items: center;
	position: relative;
	transition: all .3s;
}

.btn a:hover {
	background-color: var(--orange);
}

.btn a::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	border: 4px #fff solid;
	border-radius: 100vw;
}

.btn a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	content: "";
	display: block;
	width: 103%;
	height: 110%;
	border-radius: 100vw;
	background-color: #202020;
	z-index: -1;
}

/* .btn a span {
	overflow: hidden;
	position: relative;
}

.btn a span::before {
	content: "ログイン";
	position: absolute;
	bottom: -100%;
} */

.btn button {
	width: 5.5vw;
	height: 4.4vw;
	background-color: #202020;
	margin-top: 8px;
	border-radius: 100vw;
	position: relative;
	transition: all .3s;
}

.btn button:hover {
	background-color: var(--orange);
}

.btn button::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 5.2vw;
	height: 90%;
	border: 5px #fff solid;
	border-radius: 100vw;
}

.btn button .line::before,
.btn button .line::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 2.5vw;
	height: .3vw;
	background-color: #fff;
}

.btn button .line::before {
	top: 35%;
	transition: all .3s;
	transform-origin: center center;
}

.btn button:hover .line::before {
	top: 40%;
}

.btn button .line.open::before {
	top: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

.btn button .line::after {
	bottom: 35%;
	transition: all .3s;
}

.btn button:hover .line::after {
	bottom: 40%;
}

.btn button .line.open::after {
	bottom: 50%;
	transform: translateX(-50%) translateY(50%) rotate(-25deg);
}

#news .news-content .btn {
	width: 25%;
	position: absolute;
	bottom: -9%;
	right: 0;
	z-index: 1;
}

section .btn a{
	font-size: 1.25vw;
	padding: 18px 30px;
	display: flex;
	justify-content: space-around;
}

section .btn a img {
	width: 1.2vw;
}

#concept .btn,
#about .btn,
#contents .btn,
#help .btn {
	width: 20vw;
	margin: auto;
	position: relative;
	z-index: 2;
}

#about .btn {
	margin-right: 5%;
}

#contents .btn {
	position: absolute;
	bottom: -6%;
	left: 50%;
	transform: translateX(-50%);
}

#contents .chatroom .chatroom__list .btn {
	bottom: -10vw;
	left: 50%;
}

@media (max-width: 767px) {
	.btn a {
		font-size: 3vw;
		padding: 1vw 3vw;
	}

	.btn a::before {
		border: 3px solid #FFF;
	}

	.btn button {
		width: 12.7vw;
		height: 6.5vw;
	}

	.btn button::after {
		width: 90%;
		height: 90%;
		border: 3px solid #FFF;
	}

	.btn button .line::before,
	.btn button .line::after {
		width: 7.5vw;
		height: 0.8vw;
	}

	.btn button .line::before {
		top: 30%;
	}

	.btn button .line::after {
		bottom: 30%;
	}

	section .btn {
		width: 60vw;
	}

	section .btn a {
		font-size: 4vw;
	}

	section .btn a img {
		width: 3.9vw;
		margin-left: 3.6vw;
	}

	#news .news-content .btn,
	#concept .btn {
		width: 65vw;
		bottom: -5%;
		right: 50%;
		transform: translateX(50%);
		position: absolute;
	}

	#concept .btn {
		bottom: -17vw;
	}
}