/* ===============================
  hero
================================ */
#hero {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  background-image: url(../images/review-hero-bg.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#hero h1 {
  font-size: 74px;
}
#hero h1 br {
  display: none;
}
#hero p.sub-title {
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 80px;
}
#hero p.sub-title span {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 36px;
  color: #ff0000;
}
#hero .btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 45px;
}
#hero .btn-wrapper p {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
#hero .btn-wrapper p::before, #hero .btn-wrapper p::after {
  position: absolute;
  content: "";
  filter: brightness(0) saturate(100%) invert(12%) sepia(22%) saturate(17%) hue-rotate(328deg) brightness(107%) contrast(103%);
  background-image: url(../images/portfolio-head-decoration.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero .btn-wrapper p::before {
  top: -60%;
  left: -10%;
  width: 35px;
  height: 46px;
}
#hero .btn-wrapper p::after {
  top: -42%;
  right: -7%;
  width: 25px;
  height: 26px;
  transform: rotate(90deg);
}
#hero .btn-wrapper .btn {
  margin: 0;
  width: 33vw;
}
#hero .btn-wrapper .btn span {
  font-size: 32px;
}
#hero .cloud:nth-child(1) {
  top: 10%;
  left: 14.44vw;
  background-image: url(../images/large-cloud--orange.png);
}
#hero .cloud:nth-child(2) {
  top: 50%;
  left: 2.8472vw;
  transform: translateY(-50%);
}
#hero .cloud:nth-child(3) {
  bottom: 10%;
  left: 30.625vw;
}
#hero .cloud:nth-child(4) {
  top: 10%;
  right: 14.42vw;
}
#hero .cloud:nth-child(5) {
  top: 50%;
  right: 2.8472vw;
  transform: translateY(-50%);
  background-image: url(../images/large-cloud--orange.png);
}
#hero .cloud:nth-child(6) {
  bottom: 10%;
  right: 18.9583vw;
  background-image: url(../images/large-cloud--orange.png);
  transform: scaleX(1);
}
#hero .cloud--small {
  width: 6.77vw;
  height: 4.986vw;
}
#hero .cloud--midium {
  width: 10.416vw;
  height: 6.94vw;
}
#hero .cloud--large {
  width: 13.194vw;
  height: 9.72vw;
}
@media (max-width: 767px) {
  #hero {
    height: auto;
    padding-top: 150px;
    padding-bottom: 250px;
    background-size: 215%;
    background-position: 28% bottom;
    margin-bottom: -1px;
  }
  #hero h1 {
    font-size: 10.2vw;
    line-height: 1;
    margin-bottom: 10px;
  }
  #hero h1 br {
    display: block;
  }
  #hero p.sub-title {
    font-size: 3.6vw;
    margin-bottom: 35px;
  }
  #hero p.sub-title span {
    font-size: 3.8vw;
  }
  #hero .btn-wrapper {
    flex-direction: column;
    gap: 35px;
  }
  #hero .btn-wrapper p {
    font-size: 4vw;
    font-weight: 900;
  }
  #hero .btn-wrapper p::before, #hero .btn-wrapper p::after {
    background-size: contain;
  }
  #hero .btn-wrapper p::before {
    width: 5.25vw;
    top: -95%;
  }
  #hero .btn-wrapper p::after {
    width: 3.88vw;
    top: -70%;
  }
  #hero .btn-wrapper .btn {
    width: 80%;
    margin: auto;
  }
  #hero .btn-wrapper .btn a {
    padding: 12px 0;
  }
  #hero .btn-wrapper .btn span {
    font-size: 5vw;
  }
  #hero .cloud:nth-child(1) {
    width: 33.7vw;
    height: 23.05vw;
    top: 7%;
    left: -4%;
  }
  #hero .cloud:nth-child(2) {
    width: 29vw;
    height: 40vw;
    top: 42%;
    left: -15%;
  }
  #hero .cloud:nth-child(3) {
    width: 22vw;
    height: 30vw;
    bottom: 16%;
    left: 15%;
  }
  #hero .cloud:nth-child(4) {
    width: 26vw;
    height: 25vw;
    top: 7%;
    right: 8%;
  }
  #hero .cloud:nth-child(5) {
    width: 30vw;
    height: 30vw;
    top: 56%;
    right: -14%;
  }
  #hero .cloud:nth-child(6) {
    width: 30vw;
    height: 30vw;
    bottom: 16%;
    right: -7%;
  }
}

/* ===============================
  what
================================ */
#what {
  background-color: var(--black);
  background-image: url(../images/preview-what-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
}
#what h1 {
  font-size: 96px;
  text-align: center;
  writing-mode: vertical-rl;
  margin: auto;
  padding: 190px 0 125px;
  position: relative;
  z-index: 0;
}
#what h1::before {
  content: "";
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 715px;
  background-image: url(../images/preview-what__head-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
#what h1::after {
  content: "?";
  display: inline-block;
  transform: rotate(-75deg);
}
#what ul {
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 0;
}
#what ul li {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}
#what ul li::before {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #fff;
}
#what ul li span {
  background-color: var(--orange);
  padding: 2px;
}
#what .cloud:nth-child(1) {
  top: 10.27vw;
  left: 27.916vw;
}
#what .cloud:nth-child(2) {
  top: 36.1vw;
  left: 2.1527vw;
  background-image: url(../images/large-cloud--orange.png);
  transform: scale(-1);
}
#what .cloud:nth-child(3) {
  top: 22.1527vw;
  right: -6.66vw;
}
#what .cloud:nth-child(4) {
  top: 43.05vw;
  right: 28.8vw;
}
#what .cloud--small {
  width: 10.694vw;
  height: 7.7083vw;
}
#what .cloud--large {
  width: 24.375vw;
  height: 17.5694vw;
}
#what .bg {
  position: absolute;
}
#what .bg--duck {
  top: 26.0416vw;
  left: 20.4861vw;
  width: 7.22vw;
}
#what .bg--microphone {
  top: 39.0277vw;
  left: 32.15277vw;
  width: 6.5277vw;
}
#what .bg--hamburger {
  top: 45.55vw;
  left: 15.06944vw;
  width: 10.833vw;
}
#what .bg--pudding {
  top: 13.81944vw;
  right: 14.722vw;
  width: 12.77vw;
}
#what .bg--frying-pan {
  top: 26.59722vw;
  right: 31.59722vw;
  width: 9.3055vw;
}
#what .bg--bench {
  top: 36.875vw;
  right: 15.277vw;
  width: 10.06944vw;
}

@media (max-width: 767px) {
  #what {
    background-size: 330%;
    padding-top: 250px;
    padding-bottom: 200px;
    background-position: bottom;
  }
  #what h1 {
    font-size: 13.7vw;
    padding: 0;
    margin-bottom: 130px;
  }
  #what h1::before {
    top: 59%;
    height: 108vw;
  }
  #what ul {
    margin-top: -25px;
    width: 90%;
  }
  #what ul li {
    font-size: 3.5vw;
    gap: 0;
    margin-bottom: 20px;
  }
  #what ul li::before {
    margin-right: 8px;
  }
  #what .cloud.cloud--small {
    width: 23vw;
    height: 25vw;
  }
  #what .cloud.cloud--large {
    width: 50vw;
    height: 40vw;
  }
  #what .cloud:nth-child(1) {
    top: 7%;
    left: 8%;
  }
  #what .cloud:nth-child(2) {
    top: 43%;
    left: -20%;
  }
  #what .cloud:nth-child(3) {
    top: 19%;
    right: -10%;
    width: 29vw;
    transform: scaleX(-1);
  }
  #what .cloud:nth-child(4) {
    top: 49%;
    right: 4%;
    width: 30vw;
    transform: scale(-1, -1);
  }
  #what .bg--duck {
    top: 21%;
    left: 18%;
    width: 17vw;
  }
  #what .bg--microphone {
    top: 38%;
    left: 25%;
    width: 16vw;
    z-index: 1;
  }
  #what .bg--hamburger {
    top: auto;
    bottom: -11%;
    left: 6%;
    width: 23vw;
  }
  #what .bg--pudding {
    top: 30%;
    right: 1%;
    width: 30vw;
  }
  #what .bg--frying-pan {
    top: 50%;
    right: 20%;
    width: 23vw;
  }
  #what .bg--bench {
    top: auto;
    bottom: 1%;
    right: -3%;
    width: 23vw;
  }
}
/* ===============================
  point
================================ */
#point {
  background-image: url(../images/review-point-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 27.8vw;
  padding-bottom: 230px;
  position: relative;
}
#point h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-family: var(--font-mochiy);
  font-size: 48px;
  color: #fff;
  padding: 10px 40px;
  margin-bottom: 30px;
  background-color: var(--orange);
}
#point ul {
  display: flex;
  justify-content: center;
  gap: 25px;
}
#point ul li {
  width: 18%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 50px;
  padding: 60px 12px;
  border: 2px solid #000;
  box-shadow: 4px 4px;
  position: relative;
}
#point ul li::before, #point ul li::after {
  content: "";
  display: inline-block;
  width: 3.54vw;
  height: 2.36vw;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#point ul li:nth-child(1):before, #point ul li:nth-child(1)::after {
  background-image: url(../images/preview__point-heart--pink.png);
}
#point ul li:nth-child(2):before, #point ul li:nth-child(2)::after {
  background-image: url(../images/preview__point-heart--blue.png);
}
#point ul li:nth-child(3):before, #point ul li:nth-child(3)::after {
  background-image: url(../images/preview__point-heart--green.png);
}
#point ul li:nth-child(4):before, #point ul li:nth-child(4)::after {
  background-image: url(../images/preview__point-heart--yellow.png);
}
#point ul li::before {
  top: 10px;
  left: 6px;
}
#point ul li::after {
  top: 10px;
  right: 6px;
}
#point ul li .icon {
  width: 160px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#point ul li p {
  font-size: 20px;
  font-weight: 900;
}
#point .cloud {
  top: 0;
  right: 32.9166vw;
  width: 14.5833vw;
  height: 10.48611vw;
  transform: rotate(180deg);
}

@media (max-width: 767px) {
  #point {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/review-point-bg--sp.png);
  }
  #point .cloud {
    background-image: url(../images/large-cloud--orange.png);
    transform: scaleX(1);
    top: 2%;
    right: 7%;
    width: 40vw;
    height: 30vw;
  }
  #point h2 {
    font-size: 9vw;
    padding: 5px 40px;
  }
  #point ul {
    flex-direction: column;
  }
  #point ul li {
    width: 70%;
    margin: auto;
    padding: 50px 0px;
  }
  #point ul li::before, #point ul li::after {
    width: 13vw;
    height: 10vw;
    top: 8px;
  }
  #point ul li p {
    font-size: 18px;
  }
}
/* ===============================
  flow
================================ */
#flow {
  background-color: var(--yellow);
  position: relative;
}
#flow .title {
  font-size: 48px;
  color: var(--yellow);
  text-shadow: 4px 4px 0 #000;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translate(-50%, -100%);
}
#flow .title h2 {
  position: relative;
  font-family: var(--font-mochiy);
}
#flow .title h2::before, #flow .title h2::after {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 68px;
  height: 22px;
  content: "";
  background-image: url(../images/preview__flow-head-decoration.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#flow .title h2::before {
  left: -10px;
}
#flow .title h2::after {
  right: -10px;
  transform: translate(100%, -50%) rotate(180deg);
}
#flow ul {
  display: flex;
  justify-content: center;
  padding: 60px 45px 30px;
}
#flow ul li {
  width: 20%;
  color: var(--yellow);
  font-size: 20px;
  font-weight: bold;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  z-index: 1;
}
#flow ul li::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
  background-color: var(--black);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#flow ul li:first-child::before {
  clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 0% 50%, 0% 0%);
}
#flow ul li:first-child .icon {
  width: 80%;
}
#flow ul li span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-55%);
  font-family: "Dela Gothic One", sans-serif;
  font-size: 4vw;
  font-weight: 500;
  z-index: 1;
  color: var(--black);
}
#flow ul li .icon {
  width: 50%;
  margin: auto;
}
#flow ul li .icon::before {
  content: "";
  display: inline-block;
  width: 6.04vw;
  height: 6.04vw;
  background-color: #83d9ff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 3px solid var(--yellow);
  border-radius: 100%;
}
#flow ul li p {
  padding: 30px 0;
  margin: 0 20px;
  text-align: center;
  border-top: 2px solid var(--yellow);
  margin-top: 75px;
  min-height: 46px;
  box-sizing: content-box;
}

@media (max-width: 767px) {
  #flow .title {
    top: -8px;
    width: -moz-max-content;
    width: max-content;
  }
  #flow .title h2 {
    font-size: 10vw;
  }
  #flow .title h2::before, #flow .title h2::after {
    width: 12vw;
  }
  #flow ul {
    flex-direction: column;
    gap: 50px;
  }
  #flow ul li {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  #flow ul li::before, #flow ul li:first-child::before {
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0% 95%, 0% 50%, 0% 0%);
  }
  #flow ul li span {
    font-size: 16vw;
  }
  #flow ul li .icon::before {
    width: 21vw;
    height: 21vw;
  }
  #flow ul li p {
    font-size: 5vw;
  }
}
/* ===============================
  login
================================ */
#login {
  background-color: var(--yellow);
  background-image: url(../images/page-review__login-bg.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 360px;
  position: relative;
}
#login::before {
  content: "";
  display: block;
  width: 90%;
}
#login h2 {
  color: #fff;
  font-family: var(--font-mochiy);
  font-size: 48px;
  padding: 16px 20px;
  background-color: var(--black);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 48px;
  position: relative;
}
#login h2::before {
  content: "";
  width: 102px;
  height: 102px;
  background-image: url(../images/head-decoration--border.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-120%);
}
#login h2::after {
  content: "";
  width: 102px;
  height: 102px;
  background-image: url(../images/head-decoration--border.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(120%) rotate(180deg);
}
#login .login-inner {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
#login .login-inner p {
  font-size: 29px;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #fff;
  margin-bottom: 48px;
}
#login .login-inner ul {
  margin-bottom: 80px;
}
#login .login-inner ul li {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-left: 43px;
}
#login .login-inner ul li::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-color: var(--black);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#login .cta {
  display: block !important;
  width: 30%;
  margin: auto;
}

@media (max-width: 767px) {
  #login {
    background-image: url(../images/page-review__login-bg--sp.png);
    background-position: left 50%;
    padding-bottom: 230px;
  }
  #login h2 {
    font-size: 4.5vw;
    padding: 8px;
    margin-bottom: 20px;
  }
  #login h2::before, #login h2::after {
    width: 10.8vw;
    height: 10.8vw;
  }
  #login .login-inner p {
    font-size: 3vw;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 20px;
    padding: 5px;
  }
  #login .login-inner ul {
    margin: 0 auto 35px;
  }
  #login .login-inner ul li {
    font-size: 3.8vw;
    font-weight: 900;
    margin-bottom: 10px;
    padding-left: 20px;
    width: -moz-fit-content;
    width: fit-content;
  }
  #login .login-inner ul li::before {
    width: 3vw;
    height: 3vw;
  }
  #login .cta {
    width: 80%;
  }
}/*# sourceMappingURL=page-review.css.map */