@charset "UTF-8";
h1, h2, h3, h4 {
  font-family: "Mochiy Pop One", sans-serif;
}

h2 {
  font-size: 48px;
}

/* ===============================
  hero
================================ */
#hero {
  padding-top: 12vw;
  padding-bottom: 25vw;
  position: relative;
  box-sizing: border-box;
}
#hero .hero__text {
  text-align: center;
}
#hero .hero__text h1 {
  font-family: var(--font-dela);
  font-size: 5.14vw;
  line-height: 1;
  margin-bottom: 32px;
}
#hero .hero__text h1:first-child {
  margin-bottom: 0;
}
#hero .hero__text h1 .orange {
  color: var(--orange);
}
#hero .hero__text h1 .blue {
  color: var(--blue);
}
#hero .hero__text h1 br {
  display: none;
}
#hero .hero__text p {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 32px;
  margin-bottom: 32px;
}
#hero .hero__text p br {
  display: none;
}
#hero .hero__text p span {
  color: var(--orange);
  padding: 0px 5px;
  margin: 0 5px;
  background-color: var(--yellow);
}
#hero .hero__text img {
  width: 27.2vw;
  margin-bottom: 37px;
}
#hero .hero-image {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  margin: auto;
  width: 85%;
  z-index: 1;
}
#hero .cloud {
  background-image: none;
  position: absolute;
  z-index: -1;
}
#hero .cloud:nth-child(1) {
  top: 10%;
  left: 3%;
  width: 13vw;
}
#hero .cloud:nth-child(2) {
  top: 48%;
  left: 20%;
  width: 13vw;
}
#hero .cloud--large {
  top: 40%;
  right: 3%;
  width: 18vw;
  transform: rotate(180deg);
}

@media (max-width: 767px) {
  #hero {
    padding-top: 20vw;
    padding-bottom: 60vw;
  }
  #hero .hero__text h1 {
    font-size: 9.5vw;
    margin-bottom: 20px;
  }
  #hero .hero__text h1 br {
    display: block;
  }
  #hero .hero__text p {
    font-size: 4vw;
    margin-bottom: 50px;
  }
  #hero .hero__text p br {
    display: block;
  }
  #hero .hero__text img {
    width: 80%;
  }
  #hero .cloud:nth-child(1) {
    left: -8%;
    width: 25vw;
  }
  #hero .cloud:nth-child(2) {
    width: 33vw;
    top: 40%;
    left: 4%;
  }
  #hero .cloud--large {
    top: 58%;
    right: -11%;
    width: 35vw;
  }
  #hero .hero-image {
    width: 170%;
    max-inline-size: none;
    bottom: 5%;
  }
}
/* ===============================
  features
================================ */
#features {
  background-color: var(--orange);
  margin-top: -5.33vw;
  padding-top: 9.3vw;
  padding-bottom: 9.4vw;
  color: #FFF;
  position: relative;
}
#features .features__content {
  width: 60%;
  margin: auto;
}
#features .features__content h2 {
  display: inline-block;
  color: var(--orange);
  background-color: #FFF;
  padding: 10px 14px;
  border-radius: 10px;
}
#features .features__content ul li {
  margin-bottom: 30px;
}
#features .features__content ul li h3 {
  font-size: 36px;
  font-weight: normal;
}
#features .features__content ul li h3::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border-radius: 100%;
  margin-right: 8px;
}
#features .features__content ul li p {
  margin-left: 15px;
  font-size: 24px;
  padding: 10px 23px;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}
#features .cloud {
  filter: brightness(0) saturate(100%) invert(87%) sepia(47%) saturate(0%) hue-rotate(277deg) brightness(106%) contrast(101%);
  opacity: 0;
  background-image: none;
}
#features .cloud--small {
  position: absolute;
  top: 10%;
  right: 20%;
  width: 13.8vw;
  transform: scaleX(-1);
}
#features .cloud--large {
  position: absolute;
  bottom: 30%;
  left: -8%;
  width: 24vw;
}
#features .cloud--orange-frame {
  position: absolute;
  bottom: -7.84vw;
  right: -3%;
  width: 25.9vw;
  filter: none;
  z-index: 1;
}

@media (max-width: 767px) {
  #features {
    padding-top: 16vw;
    padding-bottom: 26vw;
  }
  #features .features__content {
    width: 90%;
    text-align: center;
  }
  #features .features__content h2 {
    font-size: 7.4vw;
    padding: 6px 12px;
    margin-bottom: 30px;
  }
  #features .features__content ul li {
    margin-bottom: 15px;
    text-align: left;
  }
  #features .features__content ul li h3 {
    font-size: 5.5vw;
  }
  #features .features__content ul li h3::before {
    width: 18px;
    height: 18px;
  }
  #features .features__content ul li p {
    font-size: 3.5vw;
    padding: 0 12px 12px;
    margin-left: 8px;
  }
  #features .cloud--small {
    transform: rotate(180deg) scaleY(-1);
    width: 28vw;
    top: 21%;
    right: 2%;
  }
  #features .cloud--large {
    width: 35vw;
    bottom: 2%;
    left: -10%;
  }
  #features .cloud--orange-frame {
    width: 52vw;
    bottom: -17vw;
    right: -7%;
  }
}
/* ===============================
  howto
================================ */
#howto {
  padding-top: 29.51388vw;
  position: relative;
}
#howto .three-step {
  text-align: center;
  border: 2px solid var(--blue);
  width: 80%;
  margin: 0 auto 13.68055vw;
  padding-bottom: 50px;
}
#howto .three-step .three-step__title {
  display: inline-block;
  background-color: #FFF;
  padding: 0 30px;
  margin-top: -36px;
}
#howto .three-step h2 {
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
#howto .three-step h2::before {
  content: "";
  display: inline-block;
  width: 42px;
  height: 46px;
  background-image: url(../images/three-step__head.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 5px;
}
#howto .three-step ul {
  display: flex;
  margin-top: 55px;
  gap: 90px;
}
#howto .three-step ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
  position: relative;
}
#howto .three-step ul li::after {
  position: absolute;
  bottom: 40%;
  right: -45px;
  transform: translateY(50%) translateX(50%);
  content: "";
  display: inline-block;
  width: 58px;
  height: 56px;
  background-image: url(../images/arrow-round--orange.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#howto .three-step ul li:last-child::after {
  display: none;
}
#howto .three-step ul li p {
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
#howto .three-step ul li p::before {
  color: #FFF;
  content: "";
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-color: var(--blue);
  margin-right: 10px;
}
#howto .three-step ul li:nth-child(1) p::before {
  content: "1";
}
#howto .three-step ul li:nth-child(2) p::before {
  content: "2";
}
#howto .three-step ul li:nth-child(3) p::before {
  content: "3";
}
#howto .three-step ul li img {
  width: 80%;
  margin: auto;
}
#howto .gallery {
  position: relative;
}
#howto .gallery .kv--sp {
  display: none;
}
#howto .gallery .kv--pc {
  width: 90%;
}
#howto .gallery .gallery-content {
  position: absolute;
  bottom: 217px;
  right: 10%;
}
#howto .gallery::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/portfolio__gallery-cloud--pc.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
#howto .gallery .gallery-content h3 {
  color: var(--blue);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 36px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 32px;
  position: relative;
}
#howto .gallery .gallery-content h3::before {
  position: absolute;
  top: -20%;
  left: -8%;
  content: "";
  width: 35px;
  height: 46px;
  background-image: url(../images/portfolio-head-decoration.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#howto .gallery .gallery-content h3::after {
  position: absolute;
  top: -20%;
  right: -8%;
  transform: rotate(90deg);
  content: "";
  width: 35px;
  height: 46px;
  background-image: url(../images/portfolio-head-decoration.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#howto .btn {
  position: relative;
  z-index: 1;
  width: 28vw;
}
#howto .btn a {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 36px;
  padding: 12px 40px;
}
#howto .btn a::before {
  background-color: var(--orange);
  z-index: 0;
}
#howto .btn a span {
  z-index: 1;
}
#howto .btn a::after {
  background-color: var(--blue);
  box-shadow: 5px 5px var(--blue);
}
#howto .upload {
  background-color: #FFE529;
  padding-top: 20.0833vw;
  padding-bottom: 29.3055vw;
  position: relative;
}
#howto .upload h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 64px;
  text-align: center;
  position: relative;
  margin-bottom: 70px;
  color: var(--black);
}
#howto .upload h1 span {
  color: var(--orange);
  font-size: 96px;
  position: relative;
}
#howto .upload h1 span::before {
  position: absolute;
  top: 0;
  left: -64px;
  transform: translateY(-100%);
  content: "まずは";
  font-size: 64px;
  color: var(--black);
}
#howto .upload .upload-btn {
  display: flex;
  justify-content: center;
  width: 65%;
  margin: auto;
}
#howto .upload .upload-btn .btn {
  width: 40%;
}
#howto .upload .upload-btn .btn a {
  font-size: 2vw;
}
#howto .upload .flower {
  position: absolute;
}
#howto .upload .flower.flower--white {
  top: 0%;
  left: 30%;
  transform: rotate(70deg);
  width: 12.01388vw;
}
#howto .upload .flower.flower--skyblue {
  top: -10%;
  right: 15%;
  transform: scale(-1, 1);
  width: 9.270833vw;
}
#howto .upload .flower.flower--blue {
  top: 15%;
  left: 5%;
  transform: scale(-1, 1);
  width: 7.29166vw;
}
#howto .upload .flower.flower--red-small {
  top: 10%;
  right: 25%;
  transform: scale(-1, 1);
  width: 9.5vw;
}
#howto .upload .flower.flower--green {
  top: 20%;
  right: 35%;
  transform: rotate(-150deg) scale(-1, 1);
  width: 7.90277vw;
}
#howto .upload .flower.flower--purple {
  top: 28%;
  right: 5%;
  transform: scale(-1, 1);
  width: 11.66vw;
}
#howto .upload .flower.flower--pastel-pink {
  top: 30%;
  left: 10%;
  transform: scale(-1, 1);
  width: 6.5277vw;
}
#howto .upload .flower.flower--red-large {
  top: 50%;
  left: 7%;
  width: 14.0277vw;
}
#howto .upload .flower.flower--pastel-green {
  top: 58%;
  left: 48%;
  width: 7.65625vw;
  transform: scale(-1, 1);
}
#howto .upload .flower.flower--pastel-orange {
  top: 60%;
  right: 20%;
  width: 12.20833vw;
  transform: scale(-1, 1);
}
#howto .upload .flower.flower--pastel-purple {
  top: 70%;
  left: 25%;
  width: 8.73611vw;
}
#howto .btn--blue a::before {
  background-color: var(--blue);
}
#howto .btn--blue a::after {
  background-color: var(--orange);
  box-shadow: 5px 5px var(--orange);
}
#howto .cloud {
  width: 15.1201388vw;
  height: 10.8979166vw;
}
#howto .cloud:nth-child(1) {
  top: 3%;
  left: 3%;
  width: 22.70833vw;
  height: 16.7159722vw;
}
#howto .cloud:nth-child(2) {
  top: 30%;
  left: 2%;
}
#howto .cloud:nth-child(3) {
  top: 8%;
  right: 20%;
}
#howto .cloud:nth-child(4) {
  top: 12%;
  right: 2%;
}
#howto .cloud:nth-child(5) {
  top: 35%;
  right: 15%;
}
#howto .balloon {
  position: absolute;
  width: 5.625vw;
}
#howto .balloon.balloon--yellow {
  top: -3%;
  right: 20%;
  z-index: 0;
}
#howto .balloon.balloon--blue {
  top: 5%;
  left: 30%;
}
#howto .balloon.balloon--green {
  top: 10%;
  left: 10%;
}
#howto .balloon.balloon--orange {
  top: 20%;
  right: 5%;
}
#howto .balloon.balloon--pink {
  top: 30%;
  left: 30%;
}
#howto .plane {
  position: absolute;
}
#howto .plane.plane--green {
  width: 16vw;
  top: -3%;
  left: 22%;
}
#howto .plane.plane--orange {
  width: 30vw;
  top: 5%;
  right: 5%;
}

@media (max-width: 767px) {
  #howto {
    padding-top: 35vw;
  }
  #howto .three-step {
    width: 100%;
    border: none;
    border-top: 2px solid var(--blue);
  }
  #howto .three-step .three-step__title {
    padding: 0 8px;
    margin-top: -28px;
  }
  #howto .three-step .three-step__title h2 {
    font-size: 8vw;
  }
  #howto .three-step .three-step__title h2::before {
    width: 8vw;
    height: 8vw;
    margin-top: 4px;
  }
  #howto .three-step ul {
    flex-direction: column;
    gap: 70px;
  }
  #howto .three-step ul li {
    gap: 20px;
  }
  #howto .three-step ul li p {
    font-size: 5vw;
  }
  #howto .three-step ul li p::before {
    width: 8vw;
    height: 8vw;
  }
  #howto .three-step ul li img {
    width: 60%;
  }
  #howto .three-step ul li::after {
    width: 11vw;
    bottom: -23%;
    right: 50%;
    transform: translateY(0%) translateX(50%) rotate(90deg);
  }
  #howto .cloud:nth-child(1) {
    top: 1%;
    left: 3%;
    width: 26vw;
    height: 22vw;
  }
  #howto .cloud:nth-child(2) {
    top: 21%;
    left: -12%;
    width: 39vw;
    height: 32vw;
    background-image: url(../images/cloud--orange01.png);
  }
  #howto .cloud:nth-child(3) {
    top: 11%;
    right: -9%;
    width: 32vw;
    height: 30vw;
    transform: rotate(180deg);
  }
  #howto .cloud:nth-child(4) {
    top: 28%;
    right: -21%;
    background-image: url(../images/cloud--orange01.png);
    width: 35vw;
    height: 30vw;
    transform: rotate(180deg);
  }
  #howto .cloud:nth-child(5) {
    top: 44%;
    right: -20%;
    background-image: url(../images/cloud--orange01.png);
    width: 44vw;
    height: 40vw;
  }
  #howto .balloon {
    width: 14vw;
  }
  #howto .balloon.balloon--yellow {
    top: 53%;
    left: 14%;
    z-index: 1;
  }
  #howto .balloon.balloon--blue {
    top: 8%;
    left: auto;
    right: 5%;
  }
  #howto .balloon.balloon--green {
    top: 12%;
  }
  #howto .balloon.balloon--orange {
    top: 38%;
  }
  #howto .balloon.balloon--pink {
    left: 4%;
  }
  #howto .plane.plane--green {
    width: 30vw;
    top: -2%;
    left: 22%;
  }
  #howto .plane.plane--orange {
    width: 45vw;
    top: 19%;
    right: 2%;
    z-index: 1;
  }
  #howto .gallery {
    background-image: url(../images/portfolio__gallery-bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 50px;
  }
  #howto .gallery::before {
    background-image: url(../images/portfolio__gallery-cloud--sp.png);
    bottom: -1px;
  }
  #howto .gallery .kv--pc {
    display: none;
  }
  #howto .gallery .kv--sp {
    display: block;
    margin-bottom: -30%;
  }
  #howto .gallery .gallery-content {
    position: static;
    width: 80%;
    margin: auto;
  }
  #howto .gallery .gallery-content h3 {
    font-size: 5vw;
    margin-bottom: 20px;
  }
  #howto .gallery .gallery-content h3::before, #howto .gallery .gallery-content h3::after {
    width: 22px;
    background-size: contain;
  }
  #howto .gallery .gallery-content h3::before {
    top: -40%;
    left: -12%;
  }
  #howto .gallery .gallery-content h3::after {
    top: -49%;
    right: -10%;
  }
  #howto .gallery .gallery-content .btn {
    width: 90%;
  }
  #howto .gallery .gallery-content .btn a {
    font-size: 5vw;
    padding: 12px 20px;
  }
  #howto .upload {
    padding: 200px 0 200px;
  }
  #howto .upload h1 {
    font-size: 7vw;
    margin-bottom: 0;
  }
  #howto .upload h1 span {
    font-size: 10vw;
    position: static;
  }
  #howto .upload h1 span::before {
    font-size: 7vw;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
  }
  #howto .upload .upload-btn {
    width: 95%;
    gap: 20px;
  }
  #howto .upload .upload-btn .btn {
    width: 50%;
  }
  #howto .upload .upload-btn .btn a {
    font-size: 4vw;
    padding: 10px 0px;
  }
  #howto .upload .flower.flower--white {
    top: 3%;
    left: 27%;
    width: 25vw;
  }
  #howto .upload .flower.flower--skyblue {
    top: -18%;
    right: 3%;
    width: 14vw;
  }
  #howto .upload .flower.flower--blue {
    top: -15%;
    left: 0%;
    width: 16vw;
  }
  #howto .upload .flower.flower--red-small {
    right: 17%;
    transform: scale(-1, 1);
    width: 19vw;
  }
  #howto .upload .flower.flower--green {
    top: auto;
    bottom: 12%;
    right: 20%;
    transform: rotate(-80deg) scale(-1, 1);
    width: 18vw;
  }
  #howto .upload .flower.flower--purple {
    right: 11%;
    width: 12vw;
  }
  #howto .upload .flower.flower--pastel-pink {
    top: 22%;
    left: 8%;
    width: 17vw;
  }
  #howto .upload .flower.flower--red-large {
    top: 60%;
    left: 13%;
    width: 19vw;
  }
  #howto .upload .flower.flower--pastel-green {
    bottom: 0%;
    top: auto;
    left: 33%;
    width: 21vw;
  }
  #howto .upload .flower.flower--pastel-orange {
    top: auto;
    bottom: -9%;
    right: 3%;
    width: 20vw;
  }
  #howto .upload .flower.flower--pastel-purple {
    top: auto;
    bottom: -17%;
    left: 2%;
    width: 20vw;
  }
}
/* ===============================
  for-companies
================================ */
#for-companies {
  background-image: url(../images/for-campanies-bg.png);
  background-color: #FFE529;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 300px;
  color: var(--black);
}
#for-companies h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 74px;
  color: #FFF;
  background-color: var(--orange);
  padding: 15px 35px;
  margin: 0 auto 15px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
#for-companies p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}
#for-companies ul {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 75px;
}
#for-companies ul li {
  font-size: 2.2vw;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}
#for-companies ul li::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: var(--orange);
}
#for-companies ul li:last-child {
  margin-bottom: 0;
}
#for-companies .cta {
  width: 390px;
  margin: auto;
  display: block;
}

@media (max-width: 767px) {
  #for-companies {
    margin-bottom: 50px;
    background-size: 110%;
    background-position: bottom;
  }
  #for-companies h2 {
    font-size: 8vw;
    padding: 5px 16px;
    margin-bottom: 8px;
  }
  #for-companies p {
    font-size: 3vw;
    margin-bottom: 30px;
  }
  #for-companies ul {
    width: 95%;
    margin-bottom: 35px;
  }
  #for-companies ul li {
    font-size: 4vw;
    margin-bottom: 10px;
  }
  #for-companies ul li::before {
    width: 4vw;
    height: 4vw;
  }
  #for-companies .cta {
    width: 60%;
    margin-bottom: -90px;
  }
}/*# sourceMappingURL=page-portfolio.css.map */