@charset "UTF-8";
/* ===============================
  hero
================================ */
#hero {
	width: 100%;
	height: 100vh;
	background-color: var(--yellow);
	background-image: url(../images/review-hero-bg.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		font-size: 74px;
	}

	p.sub-title {
		font-size: 32px;
		font-weight: bold;
		padding: 10px;
		background-color: #FFF;
		width: fit-content;
		margin:  0 auto 80px;

		span {
			font-family: "Mochiy Pop One", sans-serif;
			font-size: 36px;
			color: #FF0000;
		}
	}

	.btn-wrapper {
		display: flex;
		justify-content: center;
		gap: 45px;

		p {
			font-size: 24px;
			font-weight: bold;
			position: relative;
			width: fit-content;
			margin: auto;

			&::before,
			&::after {
				position: absolute;
				content: "";
				filter: brightness(0) saturate(100%) invert(12%) sepia(22%) saturate(17%) hue-rotate(328deg) brightness(107%) contrast(103%);
				background-image: url(../images/portfolio-head-decoration.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}

			&::before {
				top: -60%;
				left: -10%;
				width: 35px;
				height: 46px;
			}

			&::after {
				top: -42%;
				right: -7%;
				width: 25px;
				height: 26px;
				transform: rotate(90deg);
			}
		}

		.btn {
			margin: 0;
			width: 33vw;

			span {
				font-size: 32px;
			}
		}
	}
}

/* ===============================
  what
================================ */
#what {
	background-color: var(--text-color);
	background-image: url(../images/preview-what-bg.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	color: #FFF;
	padding-bottom: 60px;

	h1 {
		font-size: 96px;
		text-align: center;
		writing-mode: vertical-rl;
		margin: auto;
		padding: 190px 0 125px;
		position: relative;
		z-index: 0;

		&::before {
			content: "";
			position: absolute;
			top: 57%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 100vw;
			height: 715px;
			background-image: url(../images/preview-what__head-bg.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			z-index: -1;
		}

		&::after {
			content: "?";
			display: inline-block;
			transform: rotate(-75deg);
		}
	}

	ul {
		width: fit-content;
		margin: 30px auto 0;

		li {
			font-size: 24px;
			font-weight: bold;
			display: flex;
			justify-content: left;
			align-items: center;
			gap: 8px;
			margin-bottom: 32px;

			&::before {
				content: "";
				width: 11px;
				height: 11px;
				background-color: #FFF;
			}

			span {
				background-color: var(--orange);
				padding: 2px;
			}
		}
	}
}

/* ===============================
  point
================================ */
#point {
	background-image: url(../images/review-point-bg.png);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 27.8vw;
	padding-bottom: 230px;

	h2 {
		width: fit-content;
		margin: auto;
		font-size: 48px;
		color: #FFF;
		padding: 10px 40px;
		margin-bottom: 30px;
		background-color: var(--orange);
	}

	ul {
		display: flex;
		justify-content: center;
		gap: 25px;

		li {
			width: 18%;
			background-color: #FFF;
			display: flex;
			flex-direction: column;
			justify-content: end;
			gap: 50px;
			padding: 60px 12px;
			border: 2px solid #000;
			box-shadow: 4px 4px;
			position: relative;

			&::before,
			&::after {
				content: "";
				display: inline-block;
				width: 3.54vw;
				height: 2.36vw;
				position: absolute;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}

			&:nth-child(1):before,
			&:nth-child(1)::after {
				background-image: url(../images/preview__point-heart--pink.png);
			}

			&:nth-child(2):before,
			&:nth-child(2)::after {
				background-image: url(../images/preview__point-heart--blue.png);
			}

			&:nth-child(3):before,
			&:nth-child(3)::after {
				background-image: url(../images/preview__point-heart--green.png);
			}

			&:nth-child(4):before,
			&:nth-child(4)::after {
				background-image: url(../images/preview__point-heart--yellow.png);
			}

			&::before {
				top: 10px;
				left: 6px;
			}

			&::after {
				top: 10px;
				right: 6px;
			}

			.icon {
				width: 160px;
				height: 150px;
				margin: auto;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					// display: block;
					// width: 100%;
				}
			}

			p {
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
}

/* ===============================
  flow
================================ */
#flow {
	background-color: var(--yellow);
	position: relative;

	.title {
		font-size: 48px;
		color: var(--yellow);
		text-shadow: 4px 4px 0 #000;
		width: fit-content;
		position: absolute;
		top: -19px;
		left: 50%;
		transform: translate(-50%,-100%);

		h2 {
			position: relative;

			&::before,
			&::after {
				position: absolute;
				display: inline-block;
				top: 50%;
				transform: translate(-100%,-50%);
				width: 68px;
				height: 22px;
				content: "";
				background-image: url(../images/preview__flow-head-decoration.png);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}

			&::before {
				left: -10px;
			}

			&::after {
				right: -10px;
				transform: translate(100%,-50%) rotate(180deg);
			}
		}
	}

	ul {
		display: flex;
		justify-content: center;
		gap: 45px;

		li {
			background-color: var(--text-color);
			width: 16.25vw;
			color: var(--yellow);
		}
	}
}