/* ===============================
  hero
================================ */
#hero {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  background-image: url(../images/review-hero-bg.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero h1 {
  font-size: 74px;
}
#hero p.sub-title {
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  background-color: #FFF;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 80px;
}
#hero p.sub-title span {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 36px;
  color: #FF0000;
}
#hero .btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 45px;
}
#hero .btn-wrapper p {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
#hero .btn-wrapper p::before, #hero .btn-wrapper p::after {
  position: absolute;
  content: "";
  filter: brightness(0) saturate(100%) invert(12%) sepia(22%) saturate(17%) hue-rotate(328deg) brightness(107%) contrast(103%);
  background-image: url(../images/portfolio-head-decoration.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero .btn-wrapper p::before {
  top: -60%;
  left: -10%;
  width: 35px;
  height: 46px;
}
#hero .btn-wrapper p::after {
  top: -42%;
  right: -7%;
  width: 25px;
  height: 26px;
  transform: rotate(90deg);
}
#hero .btn-wrapper .btn {
  margin: 0;
  width: 33vw;
}
#hero .btn-wrapper .btn span {
  font-size: 32px;
}

/* ===============================
  what
================================ */
#what {
  background-color: var(--black);
  background-image: url(../images/preview-what-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #FFF;
  padding-bottom: 60px;
}
#what h1 {
  font-size: 96px;
  text-align: center;
  writing-mode: vertical-rl;
  margin: auto;
  padding: 190px 0 125px;
  position: relative;
  z-index: 0;
}
#what h1::before {
  content: "";
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 715px;
  background-image: url(../images/preview-what__head-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
#what h1::after {
  content: "?";
  display: inline-block;
  transform: rotate(-75deg);
}
#what ul {
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 0;
}
#what ul li {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}
#what ul li::before {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #FFF;
}
#what ul li span {
  background-color: var(--orange);
  padding: 2px;
}

/* ===============================
  point
================================ */
#point {
  background-image: url(../images/review-point-bg.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 27.8vw;
  padding-bottom: 230px;
}
#point h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 48px;
  color: #FFF;
  padding: 10px 40px;
  margin-bottom: 30px;
  background-color: var(--orange);
}
#point ul {
  display: flex;
  justify-content: center;
  gap: 25px;
}
#point ul li {
  width: 18%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 50px;
  padding: 60px 12px;
  border: 2px solid #000;
  box-shadow: 4px 4px;
  position: relative;
}
#point ul li::before, #point ul li::after {
  content: "";
  display: inline-block;
  width: 3.54vw;
  height: 2.36vw;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#point ul li:nth-child(1):before, #point ul li:nth-child(1)::after {
  background-image: url(../images/preview__point-heart--pink.png);
}
#point ul li:nth-child(2):before, #point ul li:nth-child(2)::after {
  background-image: url(../images/preview__point-heart--blue.png);
}
#point ul li:nth-child(3):before, #point ul li:nth-child(3)::after {
  background-image: url(../images/preview__point-heart--green.png);
}
#point ul li:nth-child(4):before, #point ul li:nth-child(4)::after {
  background-image: url(../images/preview__point-heart--yellow.png);
}
#point ul li::before {
  top: 10px;
  left: 6px;
}
#point ul li::after {
  top: 10px;
  right: 6px;
}
#point ul li .icon {
  width: 160px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#point ul li p {
  font-size: 20px;
  font-weight: bold;
}

/* ===============================
  flow
================================ */
#flow {
  background-color: var(--yellow);
  position: relative;
}
#flow .title {
  font-size: 48px;
  color: var(--yellow);
  text-shadow: 4px 4px 0 #000;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translate(-50%, -100%);
}
#flow .title h2 {
  position: relative;
}
#flow .title h2::before, #flow .title h2::after {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 68px;
  height: 22px;
  content: "";
  background-image: url(../images/preview__flow-head-decoration.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#flow .title h2::before {
  left: -10px;
}
#flow .title h2::after {
  right: -10px;
  transform: translate(100%, -50%) rotate(180deg);
}
#flow ul {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 55px 45px;
}
#flow ul li {
  background-color: var(--black);
  width: 16.25vw;
  color: var(--yellow);
}/*# sourceMappingURL=review.css.map */