@charset "UTF-8";
@media (max-width: 767px) {
  /********************
  common
  ********************/
  h2.heading {
    font-size: 9vw;
  }

  h2.heading span {
    font-size: 9vw!important;
  }

  p {
    font-size: 3.4vw;
  }

  .lattice--blue {
	background-image: none;
}

  /********************
  header
  ********************/
  header {
    padding: 0 3.1vw;
  }

  header .logo {
    width: 35.2vw;
    height: 9.5vw;
    border-radius: 0 0 9vw 9vw;
  }

  header .logo h1 {
    font-size: 4.5vw;
  }

  /********************
  KV
  ********************/
  #kv {
    overflow: hidden;
  }

  #kv .asobuyouni,
  #kv .sigotowosuru {
    display: none;
  }

  #kv .kv-girl {
    max-width: none;
    width: 233vw;
    left: 75%;
  }

  #kv .cta {
    width: 81.5vw;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  /********************
  news
  ********************/
  #news {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }

  #news::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 27%;
    height: 3px;
    background-color: #000;
    z-index: 1;
  }

  #news::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 27%;
    height: 3px;
    background-color: #000;
    z-index: 1;
  }

  #news h2.heading {
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
  }

  #news .news-content {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 48px 0;
    padding-bottom: 0;
    border-bottom: 3px solid #000;
    box-shadow: none;
  }

  #news .news-content ul {
    width: 100%;
    flex-direction: column;
    padding-bottom: 32px;
  }

  #news .news-content ul li {
    border-right: none;
    border-bottom: 1px solid #bdbdbd;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #news .news-content ul li a {
    display: flex;
    gap: 5.4vw;
  }

  #news .news-content ul li a img {
    width: 21.5vw;
    height: 21.5vw;
    margin-bottom: 0;
  }

  #news .news-content ul li a h3 {
    font-size: 3.4vw;
  }

  /********************
  concept
  ********************/
  #concept {
    background-image: url(../images/lattice--blue--sp.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 61vw;
    margin-top: 0;
    flex-direction: column;
  }

  #concept .concept-text {
    width: 98%;
    margin: auto;
  }

  #concept .concept-text > .btn {
    display: none;
  }

  #concept .concept-text .heading {
    margin-bottom: 40px;
  }

  #concept .concept-text .memo {
    padding-top: 15.2vw;
    background-image: none;
    position: relative;
  }

  #concept .concept-text .memo .btn {
    display: block;
  }

  #concept .concept-text .memo::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 133.8vw;
    background-image: url(../images/concept-memo-bg--sp.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  #concept .concept-text .memo .text--sp {
    display: block;
  }

  #concept .concept-text .memo .text--pc {
    display: none;
  }

  #concept .concept-text .memo h3 {
    font-size: 6.8vw;
    width: 95%;
    text-align: center;
    padding-top: 0;
  }

  #concept .concept-text .memo p {
    font-size: 3.4vw;
    width: 95%;
  }

  #concept .concept-image {
    width: 81vw;
    z-index: 1;
    margin: 9vw auto 0;
  }

  /********************
  about
  ********************/
  #about {
    background-image: url(../images/about-bg--sp.png);
    padding-bottom: 70vw;
  }

  #about::before {
    background-image: url(../images/about-bg--cloud-sp.png);
    background-color: var(--blue);
    background-position: left;
    top: 0;
  }

  #about .about-list {
    margin-top: 0!important;
    width: 98%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 8vw;
  }

  #about .about-list li {
    width: 48%;
    border-radius: 3.6vw;
  }

  #about .about-list.is-show li {
    margin-top: 0!important;
  }

  #about .about-list li .list-image {
    height: 35.45vw;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 2.7vw 2.7vw 0 0;
  }

  #about .about-list li p {
  font-size: 4vw;
  height: 19.5vw;
  border-radius: 0 0 2.7vw 2.7vw;
  }

  #about .about-list li.members-only::before {
    left: -1vw;
    right: auto;
    width: 14vw;
    height: 14vw;
  }

  #about::after {
    display: none;
  }

  #about .tape::before {
    width: 100%;
    height: 85.6vw;
    background-image: url(../images/about-bg--tape--sp.png);
    bottom: 0;
    right: 0;
  }

  #about .flower::before {
    background-image: url(../images/about-bg-flower--sp.png);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 85.6vw;
    top: auto;
    bottom: 0;
    right: 0;
  }

  /********************
  contents
  ********************/
  #contents {
    background-image: none;
  }

  #contents::after {
    /* display: none; */
  }

  #contents .contents-list {
    width: 100%;
    border: none;
    border-radius: 0;
    padding-top: 7.2vw;
    padding-bottom: 18.1vw;
    background-image: url(../images/contents-list-bg--sp.png);
    background-size: cover;
    margin-bottom: 0;
    border-bottom: 3px solid #000;
    z-index: 1;
  }

  #contents::before {
    display: none;
  }

  #contents .contents-list h2 {
    margin-top: 0;
  }

  #contents .contents-list::before {
    width: 93.1vw;
    height: 52vw;
    bottom: 97%;
    left: 50%;
    transform: translateX(-50%);
  }

  #contents .contents-list ul {
    flex-wrap: wrap;
  }

  #contents .contents-list ul li {
    width: 80%;
    margin: 0 auto 16px;
  }

  #contents .contents-list ul li .list-text {
    border-radius: 3.63vw;
    text-align: left;
  }

  #contents .contents-list ul li .list-text h4 {
    font-size: 4vw;
  }

  #contents .chatroom--pc {
    /* display: none; */
  }

  #contents .chatroom {
    padding-top: 47.2vw;
    padding-bottom: 109vw;
    background-image: url(../images/contents-bg--sp.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
  }

  #contents .chatroom-heading {
    width: 98%;
    margin: auto;
  }

  #contents .chatroom .chatroom__list {
    flex-wrap: wrap;
    row-gap: 20px;
    position: relative;
  }

  #contents .chatroom .chatroom__list li {
    width: 90%;
    margin: auto;
    border-radius: 5.45vw;
  }

  #contents .chatroom .chatroom__list li:nth-child(2),
  #contents .chatroom .chatroom__list li:nth-child(3) {
    margin-top: 0;
  }

  #contents .chatroom .chatroom__list li::before {
    border-radius: 5.45vw;
  }

  #contents .chatroom .chatroom__list li h4 {
    font-size: 5vw;
    border-radius: 1.8vw;
  }

  #contents .chatroom .chatroom__list li .chat h5 {
    font-size: 4vw;
  }

  #contents .chatroom .chatroom__list li .chat img {
    width: 15vw;
    height: 15vw;
  }

  #contents .chatroom .chatroom__list .btn--pc {
		display: none;
	}

  #contents .chatroom .chatroom__list .btn--sp {
    display: block;
  }

  #contents .chatroom .chatroom__list .btn--sp {
    transform: translateX(-50%);
    bottom: -21vw;
	}

  /********************
  can
  ********************/
  #can {
    background-image: url(../images/can-bg--sp.png);
    padding-bottom: 161vw;
  }

  #can ul {
    width: 90%;
  }

  #can ul li .item-wrap {
    border-radius: 5.45vw;
  }

  #can ul li .item-wrap::before {
    border-radius: 5.45vw;
  }

  #can ul li p {
    font-size: 5.45vw;
  }

  #can ul li .can-list__link a {
    font-size: 3.63vw;
  }

  #can ul li .can-list__link a::after {
    width: 6.13vw;
    height: 5.45vw;
    right: -4.63vw;
  }

  #can ul li::after {
    width: 13vw;
    height: 13vw;
    top: -3vw;
    left: -4vw;
  }

  /********************
  help
  ********************/
  #help h2.heading {
    margin-bottom: 13px;
  }

  #help .subtitle {
    font-size: 4.54vw;
    margin-bottom: 30px;
  }

  #help .subtitle::before {
    width: 4.6vw;
    left: -5.5vw;
  }

  #help .subtitle::after {
    width: 4.6vw;
    right: -5.5vw;
  }

  #help .help-list {
    width: 90%;
  }

  #help .help-list_wrap--pc {
    display: none;
  }

  #help .help-list_wrap--sp {
    display: block;
  }

  #help .help-list_wrap--sp .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #help .help-list_wrap--sp h3,
  .help-list .cp_actab label {
    font-size: 3.63vw;
  }

  #help .help-list_wrap--sp h3 {
    text-align: left;
    padding: 0 0 0 25px;
    margin-bottom: 0;
  }

  #help .help-list_wrap--sp h3::before,
  #help .help-list_wrap--sp h3::after {
    display: none;
  }

  #help .help-list_wrap--sp .category {
    position: relative;
  }

  #help .help-list_wrap--sp .category span {
    display: inline-block;
    width: 6.8vw;
    height: 6.8vw;
    border-radius: 100vw;
    background-color: var(--blue);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    transition: all .3s;
  }

  #help .help-list_wrap--sp .cp_actab.is-open .category span {
    background-color: var(--orange);
  }

  #help .help-list_wrap--sp .category span::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate3D(50%,-50%,0);
	width: 3.63vw;
	height: 0.9vw;
	border-radius: 3px;
	background-color: #FFF;
}

#help .help-list_wrap--sp .cp_actab .category span::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate3D(50%,-50%,0) rotate(90deg);
	width: 3.63vw;
	height: 0.9vw;
	border-radius: 3px;
	background-color: #FFF;
	transition: all .3s;
}

#help .help-list_wrap--sp .cp_actab.is-open .category span::after {
  transform: translate3d(50%,-50%,0) rotate(0deg);
}

.help-list .cp_actab {
  border-radius: 3vw;
  padding: 16px 0;
  max-height: 20em;
  overflow: hidden;
  transition: all 5s;
}

.help-list .cp_actab.is-open {
  max-height: fit-content;
}

  .help-list .cp_actab label::before {
    font-size: 3.63vw;
  }

  .help-list .cp_actab span {
    width: 6.8vw;
    height: 6.8vw;
    right: 3.6vw;
    position: relative;
    top: auto;
    right: auto;
  }

  .help-list .cp_actab span::before {
    width: 3.4vw;
    height: 0.9vw;
  }

  .help-list .cp_actab.is-open .cp_actab-content {
  max-height: 40em;
	padding: 0 20px 1em 20px;
}

.help-list .cp_actab .cp_actab-content::before {
  font-size: 3.63vw;
}

}