@charset "UTF-8";

/********************
common
********************/
h1,h2,h3,h4,h5,h6 {
	font-family: "Dela Gothic One", sans-serif;
}

/********************
header
********************/
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 100;
	padding: 0 48px;
	display: flex;
	justify-content: space-between;
}

header .logo {
	background-color: #202020;
	color: #fff;
	width: 288px;
	height: 72px;
	border-radius: 0 0 2vw 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .logo h1 {
	text-align: center;
	font-size: 24px;
}

header .btn {
	display: flex;
	justify-content: space-between;
	gap: 8px;
}

header .btn a {
	color: #fff;
	background-color: #202020;
	display: inline-block;
	height: 90%;
	font-family: "Dela Gothic One", sans-serif;
	font-size: 1.6vw;
	margin-top: 8px;
	padding: 15px 65px;
	border-radius: 100vw;
	display: flex;
	align-items: center;
	position: relative;
}

header .btn a::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 97%;
	height: 90%;
	border: 5px #fff solid;
	border-radius: 100vw;
}

header .btn button {
	width: 6vw;
	height: 90%;
	background-color: #202020;
	margin-top: 8px;
	border-radius: 100vw;
	position: relative;
}

header .btn button .line::before {
	content: '';
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	height: 8px;
	background-color: #fff;
}

/********************
KV
********************/
#kv {
	height: 100vh;
	background-image: url(../images/kv-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#kv .kv-girl {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}