@charset "UTF-8";

/********************
common
********************/
:root {
  --text-color: #202020;
  --orange: #FF5824;
  --blue: #127DFF;
  --brown: #7a3300;
}

body {
	font-family: "Noto Sans JP", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Dela Gothic One", sans-serif;
}

h2.heading img {
	width: 12vw;
}

h3 {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 900;
}

p {
	font-size: 1vw;
}

h2.heading {
	font-size: 3.2vw;
	text-shadow:  -3px -3px 0 #fff,
								0px -3px 0 #fff,
								3px -3px 0 #fff,
								-3px 0px 0 #fff,
								3px 0px 0 #fff,
								-6px 3px 0 #fff,
								0px 3px 0 #fff,
								3px 3px 0 #fff;
	z-index: 2;
	position: relative;
}

h2.heading span {
	position: absolute;
	top: 8px;
	left: 2px;
	font-size: 3.3vw;
	z-index: -1;
}

h2.heading--blue span {
	color: var(--blue);
	text-shadow:  -3px -3px 0 var(--blue),
								0px -3px 0 var(--blue),
								3px -3px 0 var(--blue),
								-3px 0px 0 var(--blue),
								3px 0px 0 var(--blue),
								-6px 3px 0 var(--blue),
								0px 3px 0 var(--blue),
								3px 3px 0 var(--blue);
}

h2.heading--orange span {
	color: var(--orange);
	text-shadow:  -3px -3px 0 var(--orange),
								0px -3px 0 var(--orange),
								3px -3px 0 var(--orange),
								-3px 0px 0 var(--orange),
								3px 0px 0 var(--orange),
								-6px 3px 0 var(--orange),
								0px 3px 0 var(--orange),
								3px 3px 0 var(--orange);
}

.lattice--blue {
	background-image: url(../images/lattice--blue.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

/********************
header
********************/
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 100;
	padding: 0 48px;
	display: flex;
	justify-content: space-between;
}

header .logo {
	background-color: var(--text-color);
	color: #fff;
	width: 288px;
	height: 72px;
	border-radius: 0 0 2vw 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .logo h1 {
	text-align: center;
	font-size: 24px;
}

header .btn {
	display: flex;
	justify-content: space-between;
	gap: 8px;
}

/********************
KV
********************/
#kv {
	height: 100vh;
	background-image: url(../images/kv-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

#kv img:first-child {
	position: absolute;
	left: 5%;
	top: 10%;
	width: 30%;
}

#kv img:last-child {
	position: absolute;
	right: 5%;
	bottom: 10%;
	width: 35%;
}

#kv .kv-girl {
	width: 60%;
	object-fit: contain;
	position: absolute;
	bottom: 0;
	left: 55%;
	transform: translateX(-50%);
}

/********************
news
********************/
#news {
	/* background-image: url(../images/bg-kousi.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat; */
	position: relative;
	margin-top: -50px;
	margin-bottom: 150px;
}

#news h2.heading {
	position: absolute;
	top: -9%;
	left: 5%;
}

#news h2.heading span {
	position: absolute;
	top: 4px;
	left: 2px;
	font-size: 3.4vw;
}

#news .news-content {
	width: 80%;
	margin: auto;
	background-color: #FFF;
	border: 2px solid #202020;
	border-radius: 2rem;
	padding: 48px 32px;
	box-shadow: 8px 8px 0 var(--blue);
	position: relative;
}

#news .news-content ul {
	display: flex;
	justify-content: space-between;
}

#news .news-content ul li {
	padding:  0 32px;
	border-right: 1px solid #bdbdbd;
}

#news .news-content ul li:last-child {
	border: none;
}

#news .news-content ul li a img {
	width: 100%;
	border-radius: 8px;
	margin-bottom: 24px;
}

#news .news-content ul li a h3 {
	margin-bottom: 8px;
	font-size: 1.25vw;
}

#news .news-content .btn {
	width: 25%;
	position: absolute;
	bottom: -9%;
	right: 0;
}

#news .news-content .btn a {
	font-size: 1.25vw;
	padding: 18px 30px;
	display: flex;
	justify-content: space-around;
}

#news .news-content .btn a img {
	width: 10%;
}

/********************
concept
********************/
#concept {
	/* background-image: url(../images/concept-bg.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat; */
	display: flex;
	justify-content: center;
}

#concept .concept-text {
	width: 50%;
	margin-right: -2vw;
}

#concept .concept-text .heading {
	text-align: center;
}

#concept .concept-text .heading span {
	left: 52%;
	transform: translateX(-52%);
	top: 5px;
	font-size: 3.2vw;
}

#concept .concept-image {
	width: 40%;
	margin-left: -2vw;
}

#concept .concept-text .memo {
	font-size: 1.3vw;
	background-image: url(../images/concept-memo-bg.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 6vw;
	margin-bottom: 50px;
}

#concept .concept-text .memo h3 {
	font-size: 2.2vw;
	width: 90%;
	margin: auto;
	margin-bottom: 24px;
	padding-top: 6vw;
}

#concept .concept-text .memo h3 .orange {
	color: var(--orange);
}

#concept .concept-text .memo h3 .blue {
	color: var(--blue);
}

#concept .concept-text .memo p {
	width: 90%;
	margin: auto;
	font-size: 1.38vw;
	line-height: 2;
	font-weight: 600;
}

#concept .concept-text .memo p span {
	background-color: var(--orange);
	color: #FFF;
	margin-right: 5px;
	padding: 0 5px;
}

#concept .btn {
	width: 40%;
	margin: auto;
}

#concept .btn a {
	font-size: 1.25vw;
	padding: 18px 30px;
	display: flex;
	justify-content: space-around;
}

#concept .btn a img {
	width: 10%;
}

/********************
about
********************/
#about {
	background-image: url(../images/about-bg.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#about .cloud-top {
	position: absolute;
	top: 0;
	left: 0;
}

#about h2.heading {
	text-align: center;
	margin-bottom: 20px;
	padding-top: 53px;
}

#about .heading span {
	padding-top: 53px;
	left: 51%;
	transform: translateX(-51%);
	top: 5px;
	font-size: 3.2vw;
}

#about .about-list {
display: flex;
justify-content: space-between;
width: 70%;
margin: auto;
gap: 1vw;
}

#about .about-list li {
	border: 3px solid #202020;
	border-radius: 1vw;
	height: fit-content;
	position: relative;
	background-color: var(--orange);
}

#about .about-list li.members-only::before {
	content: '';
	display: block;
	width: 7vw;
	height: 7vw;
	background-image: url(../images/about--batch.png);
	background-position: center;
	background-size: contain;
	position: absolute;
	top: -4vw;
	right: -4vw;
}

#about .about-list li:nth-child(1) {
	margin-top: 78px;
}

#about .about-list li:nth-child(2) {
	margin-top: 156px;
}

#about .about-list li:nth-child(3) {
	margin-top: 234px;
}

#about .about-list li:nth-child(4) {
	margin-top: 312px;
}

#about .about-list li img {
	width: 100%;
	border-radius: 1vw 1vw 0 0;
}

#about .about-list li p{
	color: #fff;
	background-color: var(--orange);
	text-align: center;
	height: 6vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 1.25vw;
	border-radius: 0 0 1vw 1vw;
}