@charset "UTF-8";

main {
	.header-title {
		height: 300px;
		background: #ff6b2c;
		position: relative;
		color: #fff;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding-bottom: 25px;

		small {
			display: block;
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 4px;
		}

		h1 {
			font-family: "Noto Sans JP", sans-serif;
			margin: 0;
			font-size: 40px;
			font-weight: 700;
		}

		.en {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: 0.35em;
			text-transform: lowercase;
		}
	}

	.form-wrapper {
		width: 70%;
		margin: auto;
		background: #fff;
		padding: 50px 0 300px;

		.form-row {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: 15px;
			margin-bottom: 20px;
			font-size: 18px;

			&:last-of-type {
				margin-bottom: 32px;
			}

			.form-label {
				width: 300px;
				padding-top: 10px;
				font-weight: 600;
				white-space: nowrap;
				font-weight: bold;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.required-badge {
					display: inline-block;
					margin-left: 6px;
					padding: 2px 8px;
					font-size: 18px;
					border-radius: 2px;
					background: #ff6b2c;
					color: #fff;
				}
			}

			.form-field {
				flex: 1;

				.form-control {
					width: 100%;
					padding: 10px 12px;
					border-radius: 2px;
					border: 1px solid #ddd;
					font-size: 14px;

					&::placeholder {
						color: #bbb;
					}
				}

				textarea.form-control {
					height: 230px;
					resize: vertical;
				}

				.form-note {
					font-size: 14px;
				}
			}
		}

		.submit-wrapper {
			text-align: center;

			.btn-submit {
				border: none;
				border-radius: 999px;
				padding: 14px 90px;
				font-size: 20px;
				font-weight: 700;
				background: #ff6b2c;
				color: #fff;
				cursor: pointer;
				box-shadow: 4px 4px 8px #a8a8a8;

				&:active {
					transform: translateY(2px);
					box-shadow: 0 2px 0 #e3561a;
				}
			}
		}
	}
}

/* スマホ対応 */
@media (max-width: 767px) {
	main {
		.header-title {
			height: 200px;
		}

		.form-wrapper {
			width: 80%;

			.form-row {
				flex-direction: column;
				gap: 8px;
				margin-bottom: 30px;

				.form-label {
					width: auto;
					padding-top: 0;
					margin-bottom: 6px;
					font-size: 16px;

					.required-badge {
						font-size: 16px;
					}
				}

				.form-field {
					width: 100%;
				}
			}
		}

		.footer-top {
			flex-direction: column;
			align-items: flex-start;
		}

		.footer-login-btns {
			justify-content: flex-start;
		}
	}
}
