@charset "UTF-8";

main {
	color: #fff;
	#hero {
		text-align: center;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;

		&::after {
			content: "";
			width: 100%;
			height: 160vh;
			background-image: url(../images/page-skillup__hero-bg.png);
			background-size: cover;
			background-position: top;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}

		h1 {
			font-size: 5.1388vw;
			line-height: 1;
			width: fit-content;
			margin: 0 auto 45px;

			&.row1 {
				font-size: 4.44vw;
				margin-bottom: 0;
				position: relative;

				&::after {
					content: "";
					display: inline-block;
					width: 5vw;
					height: 3vw;
					background-image: url(../images/eyecon.png);
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					position: absolute;
					top: 50%;
					right: -3%;
					transform: translateX(100%) translateY(-50%);
				}
			}
		}

		.sub {
			font-size: 2.22vw;
			font-family: "Mochiy Pop One", sans-serif;
			background-color: var(--blue);
			width: fit-content;
			margin: 0 auto 45px;
			padding: 10px 23px;

			span {
				color: #04ff00;
			}
		}

		.kv__cta {
			.kv__cta-text {
				width: fit-content;
				font-family: var(--font-noto);
				font-weight: 900;
				font-size: 24px;
				color: var(--color-white);
				margin: 0 auto 10px;
				display: flex;
				justify-content: center;
				align-items: end;
				position: relative;

				&::before,
				&::after {
					position: absolute;
					content: "";
					background-image: url(../images/portfolio-head-decoration.png);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%) hue-rotate(266deg) brightness(105%)
						contrast(103%);
				}

				&::before {
					top: -60%;
					left: -8%;
					width: 30px;
					height: 41px;
				}

				&::after {
					top: -60%;
					right: -5%;
					width: 26px;
					height: 35px;
					transform: rotate(90deg);
				}

				img {
					width: 12%;
					padding-left: 10px;
				}
			}

			.kv__button {
				display: inline-block;
				font-family: var(--font-noto);
				font-weight: 900;
				font-size: 2.22vw;
				color: var(--yellow);
				background-color: var(--black);
				border: 6px solid #fff;
				border-radius: 150px;
				padding: 20px 65px;
				text-decoration: none;
				box-shadow: 5px 5px 0px 0px #fff;
			}
		}

		.flower {
			width: 7.36111111vw;
			position: absolute;

			&:nth-child(1) {
				top: 8%;
				left: 23%;
			}

			&:nth-child(2) {
				top: 35%;
				left: 10%;
			}

			&:nth-child(3) {
				top: 60%;
				left: 23%;
			}

			&:nth-child(4) {
				top: 90%;
				left: 18%;
			}

			&:nth-child(5) {
				top: 23%;
				right: 15%;
				transform: rotate(70deg);
			}

			&:nth-child(6) {
				top: 65%;
				right: 20%;
			}

			&:nth-child(7) {
				top: 110%;
				right: 23%;
				transform: rotate(50deg);
			}
		}

		.flower--blue {
			width: 7.5vw;
		}
	}

	#what {
		display: flex;
		color: var(--black);
		justify-content: center;
		align-items: center;
		gap: 37px;
		position: relative;
		padding-top: 26vw;

		&::before {
			content: "";
			width: 100vw;
			height: 170vh;
			background-image: url(../images/page-skillup__what-bg.png);
			background-size: cover;
			background-position: top;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -2;
		}

		h2 {
			writing-mode: vertical-rl;
			font-size: 6.66vw;
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: #fff;

			&::after {
				content: "?";
				display: inline-block;
				transform: rotate(-70deg);
				margin-top: 12px;
			}
		}

		ul {
			background-color: #fff;
			padding: 35px 16px;
			li {
				font-size: 1.66vw;
				font-weight: bold;
				margin-bottom: 2.22vw;
				position: relative;
				padding-left: 20px;

				&::before {
					content: "";
					display: inline-block;
					width: 11px;
					height: 11px;
					background-color: var(--black);
					position: absolute;
					top: 1rem;
					left: 0;
				}

				span {
					color: #fff;
					background-color: var(--orange);
					padding: 5px;
				}
			}
		}

		.flower {
			position: absolute;
			width: 7.36111111vw;

			&:nth-child(1) {
				top: 15%;
				left: 50%;
				transform: translateX(-50%);
			}

			&:nth-child(2) {
				top: 40%;
				left: 25%;
			}

			&:nth-child(3) {
				top: 50%;
				left: 50%;
				width: 6vw;
			}

			&:nth-child(4) {
				top: 80%;
				left: 9%;
				z-index: -1;
			}

			&:nth-child(5) {
				top: 100%;
				left: 23%;
			}

			&:nth-child(6) {
				top: 120%;
				left: 40%;
				z-index: 1;
			}

			&:nth-child(7) {
				top: 40%;
				right: 30%;
			}

			&:nth-child(8) {
				top: 65%;
				right: 7%;
				transform: rotate(70deg);
				width: 6vw;
			}

			&:nth-child(9) {
				top: 90%;
				right: 15%;
			}

			&:nth-child(10) {
				top: 110%;
				right: 30%;
				transform: rotate(-50deg);
			}
		}

		.flower--flat {
			width: 8vw;
		}

		.kingyo-wrap {
			.kingyo {
				position: absolute;

				&:nth-child(1) {
					width: 21.25vw;
					top: 10%;
					right: 8%;
				}

				&:nth-child(2) {
					width: 8.45138889vw;
					top: 38%;
					left: 40%;
				}

				&:nth-child(3) {
					width: 10.83333333vw;
					bottom: 0%;
					left: 50%;
				}

				&:nth-child(4) {
					width: 14.93055556vw;
					bottom: -20%;
					left: 25%;
					z-index: 1;
				}
			}
		}
	}

	#point {
		background-color: var(--yellow);
		position: relative;
		margin-top: 26vw;
		padding-bottom: 20vw;

		&::before {
			content: "";
			width: 100vw;
			height: 25.55vw;
			background-image: url(../images/page-skillup__point-bg--top.png);
			background-size: cover;
			background-position: top;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(-80%);
		}

		&::after {
			content: "";
			width: 100vw;
			height: 25.55vw;
			background-image: url(../images/page-skillup__point-bg--bottom.png);
			background-size: cover;
			background-position: top;
			background-repeat: no-repeat;
			position: absolute;
			bottom: 1px;
			left: 0;
			transform: translateY(100%);
			z-index: 1;
		}

		.section-title {
			width: fit-content;
			margin: 0 auto 60px;
			padding: 10px;
			background-color: var(--blue);
			position: relative;
			font-size: 3.33vw;
			font-weight: normal;
			font-family: "Mochiy Pop One", sans-serif;

			&::before {
				content: "";
				display: block;
				width: 10vw;
				height: 4vw;
				background-image: url(../images/page-chat__point-title-flower.png);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				position: absolute;
				top: 50%;
				left: -5%;
				transform: translateX(-100%) translateY(-50%);
				filter: brightness(0) saturate(100%) invert(33%) sepia(73%) saturate(2853%) hue-rotate(204deg) brightness(104%)
					contrast(101%);
			}

			&::after {
				content: "";
				display: block;
				width: 10vw;
				height: 4vw;
				background-image: url(../images/page-chat__point-title-flower.png);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				position: absolute;
				top: 50%;
				right: -5%;
				transform: translateX(100%) translateY(-50%) rotate(180deg);
				filter: brightness(0) saturate(100%) invert(33%) sepia(73%) saturate(2853%) hue-rotate(204deg) brightness(104%)
					contrast(101%);
			}
		}

		ul {
			margin-bottom: 60px;

			li {
				font-size: 1.38888889vw;
				font-weight: bold;
				background-color: var(--blue);
				width: fit-content;
				margin: 0 auto 27px;
				padding: 26px 47px;
				position: relative;
				z-index: 0;

				&:nth-child(odd) {
					border-radius: 100vw 0 0 100vw;

					&::before {
						right: 0;
						transform: translateX(100%);
					}
				}

				&:nth-child(even) {
					border-radius: 0 100vw 100vw 0;

					&::before {
						left: 0;
						transform: translateX(-100%);
					}
				}

				&::before {
					content: "";
					display: inline-block;
					width: 50vw;
					height: 100%;
					background-color: var(--blue);
					position: absolute;
					top: 0;
					z-index: -1;
				}
			}
		}

		.tako {
			position: absolute;
			bottom: -30%;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 31.38888889vw;
			margin: auto;
			z-index: 2;
		}

		.bg--bubble {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 100%;
			object-fit: contain;
		}
	}

	#flow {
		background-image: url(../images/preview-what-bg.png);
		background-color: var(--black);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		padding-bottom: 36.1vw;
		position: relative;
		z-index: 0;

		.flow__inner {
			margin: 0 auto;
			text-align: center;
			position: relative;
			padding: 36vw 50px 0;
			background-color: var(--color-blue);
			border-radius: 100% 100% 0 0;
			position: relative;
			z-index: 1;
			box-shadow: 0px -50px 0px 0px var(--color-white);

			.section-title {
				width: fit-content;
				position: relative;
				margin: auto;
				font-size: 3.33vw;
				font-family: "Mochiy Pop One", sans-serif;

				&::before {
					position: absolute;
					display: inline-block;
					top: 50%;
					left: -10px;
					transform: translate(-100%, -50%);
					width: 4.72222222vw;
					height: 1.52777778vw;
					content: "";
					background-image: url(../images/preview__flow-head-decoration.png);
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					filter: brightness(0) saturate(100%) invert(100%) sepia(17%) saturate(0%) hue-rotate(61deg) brightness(104%)
						contrast(102%);
				}

				&::after {
					position: absolute;
					display: inline-block;
					top: 50%;
					right: -10px;
					transform: translate(100%, -50%) rotate(180deg);
					width: 4.72222222vw;
					height: 1.52777778vw;
					content: "";
					background-image: url(../images/preview__flow-head-decoration.png);
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					filter: brightness(0) saturate(100%) invert(100%) sepia(17%) saturate(0%) hue-rotate(61deg) brightness(104%)
						contrast(102%);
				}
			}

			.flow__list {
				display: flex;
				justify-content: center;
				gap: 20px;
				margin-top: 130px;

				.flow-item {
					width: 20%;
					background-color: var(--yellow);
					border-radius: 30px;
					padding: 18px;
					position: relative;

					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%) translateY(-50%);
						width: 170px;
						height: 170px;
						border-radius: 100%;
						background-color: var(--yellow);
					}

					&:nth-child(1) .flow-item__content::before {
						width: 15vw;
						background-image: url(../images/flow-icon-01.png);
					}
					&:nth-child(2) .flow-item__content::before {
						width: 12.5vw;
						background-image: url(../images/flow-icon-02.png);
					}
					&:nth-child(3) .flow-item__content::before {
						width: 9.65vw;
						background-image: url(../images/flow-icon-05.png);
					}
					&:nth-child(4) .flow-item__content::before {
						width: 11.18vw;
						background-image: url(../images/flow-icon-04.png);
					}

					.flow-item__content {
						background-color: #83d9ff;
						border-radius: 30px;
						position: relative;
						border: 3px solid var(--color-yellow);
						display: flex;
						flex-direction: column;
						gap: 100px;
						height: 100%;

						&::before {
							content: "";
							width: 180px;
							height: 180px;
							margin: 100px auto 0;
							background-size: contain;
							background-position: center;
							background-repeat: no-repeat;
						}

						p {
							font-family: "Noto Sans JP", sans-serif;
							font-size: 20px;
							font-weight: bold;
							line-height: 1.5;
							color: var(--black);
							margin: 0;
							padding-top: 20px;
							padding-bottom: 20px;
							border-top: 2px solid var(--black);
							margin: 0 20px;
						}
					}

					.flow-item__number {
						font-family: "Dela Gothic One", sans-serif;
						font-size: 74px;
						color: #000;
						position: absolute;
						top: -16%;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}

		.bg {
			position: absolute;
			z-index: 2;

			&:nth-child(1) {
				width: 8.77777778vw;
				top: 20%;
				left: 17%;
			}

			&:nth-child(2) {
				width: 10vw;
				top: 35%;
				left: 6%;
			}

			&:nth-child(3) {
				width: 12vw;
				top: 67%;
				left: 10%;
			}

			&:nth-child(4) {
				width: 7vw;
				top: 75%;
				left: 25%;
			}

			&:nth-child(5) {
				width: 10vw;
				top: 31%;
				right: 10%;
			}

			&:nth-child(6) {
				width: 7vw;
				top: 67%;
				right: 22%;
			}
		}
	}

	#course {
		background-image: url(../images/page-skillup__course-bg.png);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		padding-top: 60vw;
		padding-bottom: 360px;
		margin-top: -44vw;
		position: relative;

		.section-title {
			font-family: "Mochiy Pop One", sans-serif;
			font-size: 3.33vw;
			color: #fff;
			background-color: var(--black);
			padding: 16px 20px;
			width: fit-content;
			margin: 0 auto 50px;
			position: relative;

			&::before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				left: -18px;
				width: 7.4vw;
				height: 8vw;
				background-image: url(../images/head-decoration--border.png);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				transform: translateX(-100%) translateY(-50%);
			}

			&::after {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				right: -18px;
				width: 7.4vw;
				height: 8vw;
				background-image: url(../images/head-decoration--border.png);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				transform: translateX(100%) translateY(-50%) rotate(180deg);
			}
		}

		.course__inner {
			position: relative;

			&> p{
				font-family: "Roboto Mono", monospace;
				font-weight: 700;
				font-size: 29px;
				border: 2px solid #fff;
				padding: 10px;
				width: fit-content;
				margin: 0 auto 100px;
			}

			.bg--flower {
				position: absolute;
				width: 8vw;
				top: 11%;
				right: 12%;
			}
		}

		.course__content {
			width: 90%;
			margin: auto;

			ul {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				column-gap: 15px;
				row-gap: 15px;

				li {
					display: flex;
					flex-direction: column;
					justify-content: center;
					background-color: var(--yellow);
					color: var(--black);
					border: var(--black) 2px solid;
					border-radius: 1rem;
					box-shadow: 4px 4px 0 var(--black);
					font-family: "Noto Sans JP", sans-serif;
					font-size: 1.38888889vw;
					font-weight: bold;
					text-align: center;
					padding: 35px 0 24px;

					img {
						display: block;
						width: 60%;
						margin: 0 auto 30px;
					}

					&:nth-child(1) {
						position: relative;

						img {
							width: 11.59722222vw;
						}

						&::before {
							position: absolute;
							top: 0;
							left: -8%;
							transform: translateY(-75%);
							content: "";
							display: block;
							width: 110%;
							height: 300px;
							background-image: url(../images/page-skillup__course--cat.png);
							background-size: contain;
							background-position: top;
							background-repeat: no-repeat;
						}

						&::after {
							position: absolute;
							bottom: 0;
							right: -5%;
							content: "";
							display: block;
							width: 6vw;
							height: 12.70833333vw;
							background-image: url(../images/page-skillup__course-design-flower.png);
							background-size: contain;
							background-position: bottom;
							background-repeat: no-repeat;
						}
					}

					&:nth-child(2) {
						img {
							width: 17.30555556vw;
						}
					}

					&:nth-child(3) {
						position: relative;
						img {
							width: 12.29166667vw;
						}

						&::after {
							position: absolute;
							bottom: 0;
							right: -5%;
							content: "";
							display: block;
							width: 6vw;
							height: 12.70833333vw;
							background-image: url(../images/page-skillup__course-sns-flower.png);
							background-size: contain;
							background-position: bottom;
							background-repeat: no-repeat;
						}
					}

					&:nth-child(4) {
						position: relative;
						img {
							width: 14.16666667vw;
						}

						&::after {
							position: absolute;
							top: -8%;
							left: -8%;
							content: "";
							display: block;
							width: 9vw;
							height: 12vw;
							background-image: url(../images/page-skillup__course-site-clover.png);
							background-size: contain;
							background-position: top;
							background-repeat: no-repeat;
						}
					}

					&:nth-child(5) {
						img {
							width: 16.45833333vw;
						}
					}

					&:nth-child(6) {
						position: relative;
						img {
							width: 12.22222222vw;
						}

						&::after {
							position: absolute;
							bottom: 0;
							left: -5%;
							content: "";
							display: block;
							width: 7vw;
							height: 12.70833333vw;
							background-image: url(../images/page-skillup__course-it-flower.png);
							background-size: contain;
							background-position: bottom;
							background-repeat: no-repeat;
						}
					}
				}
			}
		}

		.bg {
			position: absolute;

			&:nth-child(1) {
				width: 25vw;
				top: 14%;
				left: 10%;
			}

			&:nth-child(2) {
				width: 6vw;
				top: 32%;
				left: 15%;
			}

			&:nth-child(3) {
				width: 8vw;
				top: 12%;
				right: 11%;
			}

			&:nth-child(4) {
				width: 9vw;
				top: 15%;
				right: 37%;
			}

			&:nth-child(5) {
				width: 17vw;
				top: 18%;
				right: 18%;
			}

			&:nth-child(6) {
				width: 5vw;
				top: 25%;
				right: 34%;
			}

			&:nth-child(7) {
				width: 10vw;
				top: 29%;
				right: 24%;
			}
		}
	}
}
