:root {
  --font-dela:'Dela Gothic One', sans-serif;
  --font-mochiy:'Mochiy Pop One', sans-serif;
  --font-noto:'Noto Sans JP', sans-serif;
  --color-blue:#127DFF;
  --color-yellow:#FFE529;
  --color-orange:#FF5824;
  --color-black:#202020;
  --color-white:#FFFFFF;
}

body {
  font-family: var(--font-noto);
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 0;
}

.section-title {
  font-family: var(--font-dela);
  font-size: 96px;
  font-weight: normal;
  line-height: 0.9;
  letter-spacing: 0.01em;
  text-align: center;
  margin: 0;
}

.section-title--white {
  font-family: var(--font-mochiy);
  font-size: 48px;
  color: var(--color-white);
}

.section-title--black {
  font-family: var(--font-mochiy);
  font-size: 48px;
  color: var(--color-black);
}

.flower--right {
  background-image: url(../images/flower--white02.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}

.flower--left {
  background-image: url(../images/flower--white01.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}



/* ===============================
  kv
================================ */
.kv {
  background-image: url('images/kv-bg.svg');
  background-color: var(--color-blue);
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .cloud {
		&:nth-child(1) {
			top: 10%;
			left: 14.44vw;
		}

		&:nth-child(2) {
			top: 50%;
			left: 2.8472vw;
			transform: translateY(-50%);
		}

		&:nth-child(3) {
			bottom: 10%;
			left: 30.625vw;
		}

		&:nth-child(4) {
			top: 10%;
			right: 14.42vw;
		}

		&:nth-child(5) {
			top: 50%;
			right: 2.8472vw;
			transform: translateY(-50%);
		}

		&:nth-child(6) {
			bottom: 10%;
			right: 18.9583vw;
		}
	}

	.cloud--small {
		width: 6.77vw;
		height: 4.986vw;
	}

	.cloud--midium {
		width: 10.416vw;
		height: 6.94vw;
	}

	.cloud--large {
		width: 13.194vw;
		height: 9.72vw;
	}

  .flower--right {
    width: 13.611vw;
    height: 14.93055vw;
    bottom: -15%;
    left: 40%;
    z-index: 1;
    transform: rotate(30deg);
  }
}

.kv__inner {
  padding-top: 100px;
}

.kv__title {
  font-family: var(--font-dela);
  font-size: 74px;
  font-weight: normal;
  color: var(--color-white);
  margin: 0 0 20px;
}

.kv__speech-bubble {
  background-image: url('../images/speech-bubble.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;
  display: inline-block;
  margin-bottom: 30px;

  p {
    font-family: var(--font-mochiy);
    font-size: 32px;
    line-height: 1.2;
    color: var(--color-white);
    margin: 0;
  }
}

.kv__cta-text {
  width: fit-content;
  font-family: var(--font-noto);
  font-weight: 900;
  font-size: 24px;
  color: var(--color-white);
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;

  &::before, &::after {
    position: absolute;
    content: "";
    background-image: url(../images/portfolio-head-decoration.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%) hue-rotate(266deg) brightness(105%) contrast(103%);
  }

  &::before {
    top: -35%;
    left: -2%;
    width: 30px;
    height: 41px;
  }

  &::after {
    top: -55%;
    right: 0;
    width: 26px;
    height: 35px;
    transform: rotate(90deg);
  }

  img {
    width: 12%;
    padding-left: 10px;
  }
}

.kv__button {
  display: inline-block;
  font-family: var(--font-noto);
  font-weight: 900;
  font-size: 32px;
  color: var(--color-orange);
  background-color: var(--color-white);
  border: 6px solid var(--color-orange);
  border-radius: 150px;
  padding: 20px 65px;
  text-decoration: none;
  box-shadow: 5px 5px 0px 0px var(--color-orange);
}

/* ===============================
  what-can-do
================================ */
.what-can-do {
  background-image: url(../images/grid-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
  padding: 28vw 0 50vh;
  position: relative;

  .section-title {
    color: var(--color-white);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -120%;
      left: 50%;
      transform: translateX(-50%);
      width: 740px;
      height: 412px;
      background-image: url(../images/what-can-do-bg.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-image: url(../images/kv-bg--bottom.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-image: url(../images/points-bg--bottom.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .section-title__main {
    position: relative;
    z-index: 1;
  }

  .cloud {
    &:nth-child(1) {
      top: 15%;
      left: 10%;
    }

    &:nth-child(2) {
      top: 30%;
      left: -5%;
    }

    &:nth-child(3) {
      top: 50%;
      left: 20%;
    }

    &:nth-child(4) {
      top: 18%;
      right: 18%;
    }

    &:nth-child(5) {
      top: 25%;
      right: -5%;
    }

    &:nth-child(6) {
      top: 45%;
      right: 15%;
    }

    &:nth-child(7) {
      bottom: 10%;
      right: 25%;
    }

    &.cloud--small {
      width: 6.77vw;
      height: 4.986vw;
    }

    &.cloud--midium {
      width: 13.1944vw;
      height: 9.722vw;
    }

    &.cloud--large {
      width: 22.01388vw;
      height: 15.90277vw;
    }
  }

  .flower--right {
    width: 13.611vw;
    height: 14.93055vw;
    bottom: 33%;
    right: 18%;
  }

  .flower--left {
    width: 10.277vw;
    height: 10.76388vw;
    bottom: 0;
    right: 50%;
    z-index: 1;
    transform: scale(-1,1);
  }

  .ufo {
    background-image: url(../images/ufo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 21.5277vw;
    height: 18vw;
    position: absolute;
    top: 10%;
    right: 30%;
    z-index: 1;
  }

  .heart {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 2.15277vw;
    height: 2.15277vw;
  }

  .heart--pink {
    background-image: url(../images/preview__point-heart--pink.png);
    top: 30%;
    right: 20%;
    transform: rotate(45deg);
  }

  .heart--green {
    background-image: url(../images/preview__point-heart--green.png);
    top: 45%;
    right: 23%;
    transform: rotate(30deg);
  }

  .heart--red {
    background-image: url(../images/heart--red.png);
    top: 40%;
    left: 23%;
  }

  .heart--yellow {
    background-image: url(../images/preview__point-heart--yellow.png);
    bottom: 10%;
    left: 49%;
    transform: rotate(45deg);
  }

  .eye {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 2.77vw;
    height: 2.77vw;

    &.eye--green {
      background-image: url(../images/eye--green.png);
      top: 43%;
      left: 27%;
      z-index: 1;
    }

    &.eye--blue {
      background-image: url(../images/eye--blue.png);
      top: 48%;
      right: 42%;
      z-index: 1;
    }

    &.eye--red {
      background-image: url(../images/eye--red.png);
      top: 65%;
      right: 23%;
      z-index: 1;
    }

    &.eye--yellow {
      background-image: url(../images/eye--yellow.png);
      bottom: 2%;
      right: 58%;
      z-index: 1;
    }
  }

  .octopus {
    width: 5.34722vw;
    height: 4.375vw;
  }
}

.what-can-do__inner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  .flower--left {
    width: 10.277vw;
    height: 10.76388vw;
    top: -250%;
    left: 20%;
    transform: scale(1,1);
  }

  .section-title {
    width: fit-content;
    margin: auto;
    padding-right: 3.5vw;
    position: relative;
      .apple {
      background-image: url(../images/apple.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 6.8055vw;
      height: 12.29166vw;
      position: absolute;
      right: 15%;
      bottom: -280%;
    }

    .section-title__q {
      position: absolute;
      transform: rotate(20deg);
    }
  }
}

.what-can-do__list {
  list-style: none;
  padding: 0;
  width: fit-content;
  margin: 270px auto 0;

  li {
    font-family: var(--font-noto);
    font-weight: 900;
    font-size: 24px;
    text-align: left;
    color: var(--color-black);
    padding: 10px 20px;
    margin-bottom: 32px;
    position: relative;

    span {
      color: var(--color-white);
      background-color: var(--color-orange);
      padding: 3px;
      margin: 0 3px;
    }

    &::before {
      content: '';
      display: block;
      width: 11px;
      height: 11px;
      background-color: var(--color-black);
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/* ===============================
  points
================================ */
.points {
  background-color: var(--color-yellow);
  padding: 200px 0 500px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-image: url(../images/flow-bg--bottom.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.points__inner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative;

  .section-title {
    width: fit-content;
    margin: auto;
    padding: 10px;
    background-color: var(--color-orange);
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 10vw;
      height: 4vw;
      background-image: url(../images/page-chat__point-title-flower.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: -5%;
      transform: translateX(-100%) translateY(-50%);
    }

    &::after {
      content: '';
      display: block;
      width: 10vw;
      height: 4vw;
      background-image: url(../images/page-chat__point-title-flower.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      right: -5%;
      transform: translateX(100%) translateY(-50%) rotate(180deg);
    }
  }

  .flower {
    position: absolute;

    &.flower--skyblue {
      top: -5%;
      left: -5%;
      width: 9.270833vw;
    }

    &.flower--red {
      top: 45%;
      left: -8%;
      width: 7.5vw;
    }

    &.flower--purple {
      bottom: -50%;
      left: 8%;
      width: 9.0277vw;
    }

    &.flower--white {
      top: 5%;
      right: -10%;
      width: 12.3611vw;
    }

    &.flower--blue {
      bottom: -5%;
      right: -10%;
      width: 7.29166vw;
    }

    &.flower--green {
      bottom: -60%;
      right: 8%;
      width: 7.722vw;
    }
  }
}

.points__list {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.point-card {
  width: 23%;
  background-color: var(--color-blue);
  border-radius: 170.5px;
  box-shadow: 0px 12px 0px 0px var(--color-orange);
  display: flex;
  gap: 45px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 140px 4px 70px;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: var(--color-yellow);
  }

  p {
    font-family: var(--font-noto);
    font-weight: 900;
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-white);
    width: 92%;
    box-sizing: border-box;
    margin: 0;
  }
}

/* ===============================
  flow
================================ */
.flow {
  background-color: var(--color-orange);
  position: relative;
  padding-top: 130px;

  .flower {
    position: absolute;
    z-index: 3;

    &.flower--red {
      top: 0%;
      left: 40%;
      width: 12vw;
      transform: rotate(15deg);
    }

    &.flower--pastel-purple {
      top: -3%;
      right: 20%;
      width: 10vw;
    }

    &.flower--pastel-orange {
      top: 20%;
      left: 10%;
      width: 10vw;
    }

    &.flower--pastel-pink {
      top: 15%;
      left: 38%;
      width: 10vw;
    }

    &.flower--pastel-green {
      top: 12%;
      left: 55%;
      width: 10vw;
    }
  }

  .tiger {
    width: 80%;
    position: absolute;
    top: -10%;
    right: 15.13vw;
    z-index: 2;
  }
}

.flow__inner {
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 36vw 50px 0;
  background-color: var(--color-blue);
  border-radius: 100% 100% 0 0;
  position: relative;
  z-index: 1;
  box-shadow: 0px -50px 0px 0px var(--color-white);

  .section-title {
    width: fit-content;
    position: relative;
    margin: auto;

    &::before {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: -10px;
      transform: translate(-100%, -50%);
      width: 68px;
      height: 22px;
      content: "";
      background-image: url(../images/preview__flow-head-decoration.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      filter: brightness(0) saturate(100%) invert(100%) sepia(17%) saturate(0%) hue-rotate(61deg) brightness(104%) contrast(102%);
    }

    &::after {
      position: absolute;
      display: inline-block;
      top: 50%;
      right: -10px;
      transform: translate(100%, -50%) rotate(180deg);
      width: 68px;
      height: 22px;
      content: "";
      background-image: url(../images/preview__flow-head-decoration.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      filter: brightness(0) saturate(100%) invert(100%) sepia(17%) saturate(0%) hue-rotate(61deg) brightness(104%) contrast(102%);
    }
  }
}

.flow__list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 130px;
  padding-bottom: 130px;
}

.flow-item {
  width: 20%;
  background-color: var(--color-black);
  border-radius: 30px;
  padding: 18px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-color: var(--color-black);
  }
}

.flow-item__icon {
  /* margin-bottom: 150px; */
  margin-top: 100px;

  img {
    width: 70%;
  }
}

.flow-item__content {
  background-color: #FFF;
  border-radius: 30px;
  position: relative;
  border: 3px solid var(--color-yellow);
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100%;

  &::before {
    content: "";
    width: 180px;
    height: 180px;
    margin: 100px auto 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.flow__list .flow-item {
  &:nth-child(1) .flow-item__content::before {
    width: 15vw;
    background-image: url(../images/flow-icon-01.png);
  }

  &:nth-child(2) .flow-item__content::before {
    width: 12.5vw;
    background-image: url(../images/flow-icon-02.png);
  }

  &:nth-child(3) .flow-item__content::before {
    width: 9.65vw;
    background-image: url(../images/flow-icon-03.png);
  }

  &:nth-child(4) .flow-item__content::before {
    width: 11.18vw;
    background-image: url(../images/flow-icon-04.png);
  }
}

.flow-item__number {
  font-family: var(--font-dela);
  font-size: 74px;
  color: var(--color-yellow);
  position: absolute;
  top: -16%;
  left: 50%;
  transform: translateX(-50%);
}

.flow-item__content p {
  font-family: var(--font-noto);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: var(--color-black);
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid var(--color-black);
  margin: 0 20px;
}

/* ===============================
  login-cta
================================ */
.login-cta {
  background-color: var(--color-blue);
  padding-top: 130px;
  padding-bottom: 55vh;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 30vh;
    background-color: var(--color-yellow);
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 10vh;
    background-image: url(../images/points-bg--bottom.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 30vh;
  }

  .section-title {
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 16px 20px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: -18px;
      width: 83px;
      height: 76px;
      background-image: url(../images/head-decoration--border.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: translateX(-100%) translateY(-50%);
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      right: -18px;
      width: 83px;
      height: 76px;
      background-image: url(../images/head-decoration--border.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: translateX(100%) translateY(-50%) rotate(180deg);
    }
  }
}

.login-cta__inner {
  > p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 29px;
    color: var(--color-white);
    background-color: var(--color-orange);
    border: 2px solid var(--color-white);
    padding: 10px;
    width: fit-content;
    margin: 0 auto 50px;
  }

  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.login-cta__content {
  margin-bottom: 80px;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    font-family: var(--font-noto);
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    color: var(--color-white);
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px;

    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 26px;
      background-color: var(--color-black);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.login-cta__button {
  display: inline-block;
  width: 60%;
}
