@charset "UTF-8";
main {
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 30vh;
		background-image: url(../images/single-bg--bottom.png);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		position: absolute;
		bottom: 20vh;
		left: 0;
	}

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 20vh;
		background-color: var(--blue);
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

@media (max-width: 767px) {
	main {
		&::before {
			height: 15vh;
		}
	}
}
/* ===============================
  head
================================ */
#head {
	background-color: var(--blue);
	background-image: url(../images/single__head-bg.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	padding: 100px 0 75px;
	margin-bottom: 60px;

	h1 {
		color: var(--black);
		text-align: center;
		font-size: 65px;
		position: relative;
		z-index: 1;
		margin-bottom: 50px;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: #FFF;
			-webkit-text-stroke: 12px #FFF;
			z-index: -1;
		}
	}
}

@media (max-width: 767px) {
	#head {
		padding: 74px 0 37px;
		margin-bottom: 30px;

		h1 {
			font-size: 40px;

			span {
				-webkit-text-stroke: 7px #FFF;
			}
		}
	}
}

/* ===============================
  contens
================================ */
#contents {
	width: 80%;
	margin: auto;
	padding: 0 0 31.944vw;
    @media (max-width: 1200px) {
        margin-bottom: 130px;
    }
    @media (max-width: 1100px) {
        margin-bottom: 150px;
    }
    @media (max-width: 1000px) {
        margin-bottom: 220px;
    }

	h1,h2,h3,h4,h5,h6 {
		background-color: var(--orange);
		padding: 10px;
		color: #FFF;
		font-family: "Noto Sans JP", sans-serif;
		font-weight: bold;
		width: fit-content;
		margin-bottom: 5px;
		margin-top: 65px;
	}

	.is-layout-flex {
		margin-top: 65px;

		h1,h2,h3,h4,h5,h6 {
			margin-top: 0;
		}
	}

	h2 {
		font-size: 24px;
	}

	p {
		font-size: 16px;
		line-height: 180%;
		// 段落ごとに約1行分の余白を自動で入れる
		& + p {
			margin-top: 1em; // line-height 180% の1行分
		}

		strong {
			font-weight: bold;
		}

		a {
			color: var(--orange);
			font-weight: bold;
			margin-top: 14px;
			display: inline-block;
			transition: all .3s;

			&:hover {
				color: var(--blue);
			}
		}
	}

	.title {
		font-size: 32px;
		text-align: center;
		color: #000;
		background: none;
		padding: 0;
		margin: 0 auto 16px;
	}

	ul {
		margin-top: 10px;
		padding-left: 20px;
		list-style-type: disc;
		list-style-position: outside;
		li {
			font-size: 16px;
		}
	}
}

@media (max-width: 767px) {
	#contents {
		width: 90%;
		margin-bottom: 30vh;

		.title {
			font-size: 20px;
		}
	}
}